* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --love: "Loved by the King";
  --swash: "Berkshire Swash";
}

.split-layout {
  display: flex;
  height: 100vh;
}

/* left panel */

.left-panel {
  flex: 2;
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url("image/7.png");
  background-position: center;
  background-size: cover;
  position: relative;
  color: #fff;
}

.left-panel h5 {
  margin-top: 500px;
}

.left-panel h2 {
  font-family: var(--swash);
  font-size: 35px;
  letter-spacing: 10px;
}

.left-panel > * {
  position: relative;
  z-index: 1;
}

.left-panel::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: black;
  opacity: 0.7;
}
/* right panel */
.right-panel {
  flex: 1;
  overflow: hidden;
  position: relative;
  background-color: black;
}
/* landing-top */
.landing-top {
  position: absolute;
  inset: 0;
  height: 100vh;
  z-index: 10;
  background-image: url("image/9.png");
  background-position: bottom;
  background-size: cover;
  color: white;
  transition: 1s;
}

.landing-top .pengantin {
  font-family: var(--swash);
  font-size: 35px;
  letter-spacing: 7px;
  font-weight: lighter;
}

.landing-top::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 70vh;
  bottom: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.landing-top > * {
  position: relative;
  z-index: 2;
}

.landing-top.hide {
  transform: translateY(-100vh);
}

.landing-top h5 {
  margin-top: 440px;
}

.landing-top button {
  border: 1px solid white;
}

.landing-top .maaf {
  font-size: 12px;
}

/* landing bottom */
.landing-bottom {
  position: relative;
  padding: 0;
}

.hero,
.quote,
.groom-bride,
.galery {
  position: relative;
  z-index: 2;
}

/* carousel sebagai background */
.landing-bottom .carousel-bg {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh !important;
  will-change: transform;
  transform: translateZ(0);
  z-index: 1;
  pointer-events: none;
}

.landing-bottom .carousel-inner,
.landing-bottom .carousel-item {
  height: 100%;
}

.landing-bottom .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* overlay */
.landing-bottom .carousel-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.landing-bottom .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* hero */
.hero {
  padding: 0;
  height: 100vh;
  background-color: aqua;
  position: relative;
  overflow: hidden;
  margin-top: -100vh;
}

.hero .content {
  padding: 20px 20px;
  color: white;
  border-top-right-radius: 100px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 80px;
  overflow: hidden;
  width: 90%;
  z-index: 1;
}

.hero .content .nama-pengantin {
  font-family: var(--love);
  font-size: 45px;
}
.hero .content > * {
  position: relative;
  z-index: 1;
}
.hero .content::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(255, 255, 255, 0.2);
  /* opacity: 0.3; */
  backdrop-filter: blur(3px);
  z-index: -1;
}

.hero .content .simpan {
  display: flex;
  padding: 10px 10px;
  height: 80px;
  align-items: center;
}
.hero .content .simpan .vertical-line {
  height: 80px;
  width: 1px;
  background-color: #fff;
}

.hero .content .line {
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.hero .content .tanggal {
  flex: 1;
  text-align: center;
}

.hero .content .countdown {
  flex: 1;
  text-align: center;
  margin-left: 20px;
}

.hero .carousel,
.hero .carousel-inner,
.hero .carousel-item {
  height: 100vh !important;
}

.hero .carousel:after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: black;
  opacity: 0.5;
}

.hero .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* quote */

.quote {
  padding: 30px 0;
  position: relative;
  background-color: white;
  color: #fff;
}

.quote > * {
  position: relative;
  z-index: 1;
}

.quote::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: black;
  opacity: 0.7;
}

.quote .header {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}
.quote .header h1 {
  font-size: 40px;
  font-family: var(--swash);
}
.quote .header p {
  font-size: 20px;
  font-family: var(--swash);
  margin-top: 30px;
}
.quote .header .n {
  margin-top: 40px;
}

.quote span {
  font-weight: bold;
}

/* groom bride */

.groom-bride {
  position: relative;
  /* overflow: hidden; */
}

.groom-bride > * {
  position: relative;
  z-index: 2;
}

.groom-bride h1 {
  font-family: var(--swash);
  font-size: 30px;
  margin-bottom: 70px;
}

.groom-bride .groom {
  width: 250px;
  height: 300px;
  margin: auto;
  z-index: 2;
  font-family: "Poppins";
  position: relative;
  text-align: center;
}

.groom-bride .bride {
  width: 250px;
  height: 300px;
  margin-top: 250px !important;
  margin: auto;
  margin-bottom: 220px;
  font-family: "Poppins";
  z-index: 2;
  position: relative;
  text-align: center;
}

.groom-bride .groom p,
.groom-bride .bride p {
  font-size: 13px;
}

.groom-bride .bride h4 {
  font-size: 20px;
  margin-top: 10px;
}

.groom-bride .groom h4 {
  font-size: 20px;
  margin-top: 10px;
}

.groom-bride .groom .bottom,
.groom-bride .bride .bottom {
  color: #fff;
}

.groom-bride .groom .header h3,
.groom-bride .bride .header h3 {
  color: #fff;
}

.groom-bride .carousel-groom {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  position: relative;
}
.groom-bride .carousel-bride {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  position: relative;
}

/* wedding event */

.wedding-event {
  background-color: azure;
  position: relative;
  z-index: 2;
}

.wedding-event .card-wrapper {
  display: flex;
  width: 100%;
}

.wedding-event .card-wrapper .content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 60px 0;
}

.wedding-event .card-wrapper .content-wrapper .akad-nikah h3,
.wedding-event .card-wrapper .content-wrapper .resepsi h3,
.wedding-event .card-wrapper .content-wrapper .streaming h3,
.wedding-event .card-wrapper .content-wrapper .dress-code h3 {
  font-family: var(--swash);
}

.wedding-event .card-wrapper .content-wrapper .akad-nikah {
  margin-top: 30px;
  padding: 0 20px;
}

.wedding-event .card-wrapper .content-wrapper .resepsi {
  margin-top: 30px;
  padding: 0 20px;
}
.wedding-event .card-wrapper .content-wrapper .streaming {
  padding: 0 20px;
  margin-top: 30px;
}
.wedding-event .card-wrapper .content-wrapper .dress-code {
  padding: 0 20px;
  margin-top: 30px;
}

.wedding-event .widget {
  width: 160px;
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wedding-event .widget p {
  font-size: 25px;
  font-family: var(--swash);
  white-space: nowrap;
  letter-spacing: 13px;
  writing-mode: vertical-rl;
}

.wedding-event .content {
  display: flex;
  gap: 10px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.wedding-event .content .content-satu {
  height: 180px;
  width: 150px;
  background-color: aquamarine;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  overflow: hidden;
}

.wedding-event .content .content-satu img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: opacity 1s;
}
.wedding-event .content .content-dua {
  height: 150px;
  width: 130px;
  background-color: aqua;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-top: 30px;
  overflow: hidden;
}
.wedding-event .content .content-dua img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: opacity 2s;
}

.wedding-event .card-wrapper .content-wrapper .line {
  width: 100%;
  height: 1px;
  background-color: black;
  margin-top: 30px;
}

.wedding-event .card-wrapper .content-wrapper .dress-code .kotak {
  justify-content: center;
  gap: 20px;
  display: flex;
  margin-top: 20px;
}
.wedding-event .card-wrapper .content-wrapper .dress-code .kotak .kotak-satu {
  width: 60px;
  height: 60px;
  background-color: crimson;
}
.wedding-event .card-wrapper .content-wrapper .dress-code .kotak .kotak-dua {
  width: 60px;
  height: 60px;
  background-color: plum;
}

/* save date */

.save-date {
  padding: 0 20px;
  padding-top: 60px;
  position: relative;
  z-index: 2;
  --bg: url("image/6.png");
  color: white;
}

.save-date > * {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.save-date::after {
  position: absolute;
  content: "";
  inset: 0;
  background-image: var(--bg);
  background-position: center;
  background-size: cover;
  transition: 2s;
  z-index: -1;
}

.save-date.fade-in::after {
  opacity: 0.9;
}
.save-date.fade-out::after {
  opacity: 1;
}
.save-date::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: black;
  opacity: 0.5;
}

.save-date h3 {
  text-align: center;
  font-size: 30px;
  font-family: var(--swash);
  margin-bottom: 30px;
}

.save-date a {
  display: block;
  margin: auto;
  margin-top: 60px;
  width: 150px;
  height: 50px;
  line-height: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* love story */

.love-story {
  padding: 60px 10px;
  position: relative;
  z-index: 2;
  color: #fff;
}

.love-story > * {
  position: relative;
  z-index: 2;
}

.love-story::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: black;
  opacity: 0.4;
}

.love-story img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  z-index: 3;
}

.love-story h3 {
  font-family: var(--swash);
  font-size: 30pxa;
}

.love-story .story {
  text-align: left;
}

.love-story .tiga p,
.love-story .empat p,
.love-story .tiga h4,
.love-story .empat h4 {
  color: #fff;
}
.love-story .satu,
.love-story .dua,
.love-story .tiga,
.love-story .empat {
  margin-bottom: 70px;
}

.love-story .story h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.love-story .story img {
  margin-top: 40px;
}

/* galery */

.galery {
  padding: 60px 0;
  background-color: #fff;
}

.galery h3 {
  font-family: var(--swash);
  font-size: 30px;
}

/* thumbnail carousel */
.thumb-wrapper {
  overflow-x: auto;
  padding-bottom: 10px;
}

.thumb-track {
  display: flex;
  gap: 10px;
  width: max-content;
}

.galery .thumb-track img {
  width: 90px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

.thumb-track img:hover {
  opacity: 1;
  transform: scale(1.05);
}

.thumb-track img.active {
  opacity: 1;
  border: 2px solid white;
}

.thumb-track {
  animation: run 20s linear infinite;
}

@keyframes run {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.thumb-wrapper {
  overflow: hidden;
  width: 100%;
}

.galery .carousel-inner {
  border-radius: 20px;
}

/* gift */
.gift {
  padding: 60px 0;
  background-color: black;
  position: relative;
  z-index: 2;
  color: #fff;
}

.gift h3 {
  font-family: var(--swash);
}

.gift .header i {
  font-size: 40px;
}

.gift .card {
  text-align: left;
  margin: auto;
  width: 85%;
  height: 170px;
  padding: 20px;
  line-height: 5px;
  position: relative;
  background-image: url("image/bg-card.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.gift .card .image-wrapper {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 80px;
  height: 30px;
}

.gift a {
  margin-top: 20px;
  background-color: white;
  color: #000;
  padding: 4px 10px;
  border-radius: 6px;
  border: 1px solid white;
}

.gift .card .nama {
  margin-top: 70px;
}

/* rsvp */

.rsvp {
  padding: 70px 20px;
  color: #000;
  position: relative;
  z-index: 2;
}

.rsvp > * {
  position: relative;
  z-index: 2;
}

.rsvp::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: #fff;
  opacity: 0.6;
}

.rsvp .header {
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}

.rsvp .header h1 {
  font-family: var(--swash);
}

.rsvp p {
  text-align: center;
}

.rsvp button {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 10px;
}

.rsvp .form-check input {
  background-color: black;
}

/* congrat */

.congrat {
  padding: 50px 20px;
  padding-bottom: 80px;
  color: black;
  position: relative;
  z-index: 2;
}

.congrat > * {
  position: relative;
  z-index: 2;
}

.congrat::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: #fff;
  opacity: 0.6;
}

.congrat .header h2 {
  font-family: var(--swash);
  font-size: 30px;
}
.congrat .header p {
  margin-bottom: 50px;
}

.congrat .kotak-pesan {
  height: 40vh;
  margin-top: 40px;
  background: #000;
  overflow-y: scroll;
  padding: 20px 20px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.congrat .kotak-pesan .text-pesan {
  color: black;
  padding: 0 10px;
  background-color: #fff;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;
  color: #000;
}
.congrat .kotak-pesan .text-pesan .nama {
  font-weight: bold;
  margin-top: 14px;
}
.congrat .kotak-pesan .text-pesan p {
  margin-top: -15px;
}

.congrat .text-pesan i {
  color: red;
  font-size: 30px;
}

.congrat button {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  margin-top: 10px;
}

/* tahnkyou */
.thankyou {
  padding: 80px 0;
  height: 100vh;
  position: relative;
  color: black;
  z-index: 2;
  --gambar: url("image/2.png");
}

.thankyou > * {
  position: relative;
  z-index: 2;
}

.thankyou::after {
  position: absolute;
  content: "";
  inset: 0;
  background-image: var(--gambar);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 2s ease-in-out;
  z-index: -2;
}
.thankyou::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: black;
  opacity: 0.6;
  z-index: -1;
}

.thankyou.fade-out::after {
  opacity: 0.4;
}
.thankyou.fade-in::after {
  opacity: 0.6;
}
.thankyou h3 {
  font-size: 30px;
  font-family: var(--swash);
  margin-bottom: 20px;
  color: white;
}
.thankyou i {
  color: red;
}

.thankyou .nama_pengantin {
  font-size: 30px;
}

.thankyou p {
  color: white;
}

/* footer */
footer {
  padding: 50px 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  position: relative;
  z-index: 2;
}

footer a {
  color: white;
}

footer .medsos {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  justify-content: center;
  text-align: center;
}

/* audio icon */
.audio-icon {
  position: fixed;
  bottom: 10px;
  right: 20px;
  display: flex;
  place-content: center;
  transform-origin: center;
  font-size: 40px;
  z-index: 12;
  line-height: 0;
  animation: rotating 2s infinite linear;
  cursor: pointer;
}

/* countdown */
.simply-countdown-circle {
  --sc-circle-primary: #fff;
  --sc-circle-secondary: #fff;
  /* --sc-circle-bg: #bcd9a2; */
  --sc-circle-text: #fff;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1.5rem;
  row-gap: 0.4rem; /* jarak antar baris */
  font-family: "Inter", sans-serif;
}

.simply-countdown-circle > .simply-section {
  position: relative;
  /* background-color: #bcd9a2; */
  width: 30px;
  height: 30px;
  /* border: 2px solid #bcd9a2; */
  padding: 0rem;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  flex: 0 0 calc(50% - 0.75rem);
  /* flex-direction: column; */
  /* border-radius: 50%; */
  /* background: linear-gradient(45deg, var(--sc-circle-primary), var(--sc-circle-secondary)); */
  /* box-shadow: 0 0 25px -5px var(--sc-circle-primary); */
  animation: pulse-circle 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.simply-countdown-circle > .simply-section::before {
  content: "";
  position: absolute;
  /* inset: 7px; */
  left: 7px;
  right: 7px;
  bottom: 7px;
  top: 0;
  border-radius: 15px;
  background: var(--sc-circle-bg);
  z-index: 0;
}

.simply-countdown-circle > .simply-section > div {
  position: relative;
  z-index: 1;
  color: var(--sc-circle-text);
  text-align: center;
}

.simply-countdown-circle .simply-amount {
  /* display: block; */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  background: linear-gradient(to right, var(--sc-circle-primary), var(--sc-circle-secondary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.simply-countdown-circle .simply-word {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 0.8;
}

@keyframes pulse-circle {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.98);
    opacity: 0.9;
  }
}

/* batas */

.simply-countdown {
  --sc-circle-primary: #fff;
  --sc-circle-secondary: #fff;
  /* --sc-circle-bg: #ff0087; */
  --sc-circle-text: #fff;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;

  gap: 1.5rem;
  font-family: "Poppins";
}

.simply-countdown > .simply-section {
  position: relative;
  width: 100px;
  height: 100px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  margin: auto;
  /* background: linear-gradient(45deg, var(--sc-circle-primary), var(--sc-circle-secondary)); */
  /* box-shadow: 0 0 25px -5px var(--sc-circle-primary); */
  animation: pulse-circle 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.simply-countdown > .simply-section::before {
  content: "";
  position: absolute;
  inset: 6px;
  border-radius: 50%;
  background: var(--sc-circle-bg);
  z-index: 0;
}

.simply-countdown > .simply-section > div {
  position: relative;
  z-index: 1;
  color: var(--sc-circle-text);
  text-align: center;
}

.simply-countdown .simply-amount {
  display: block;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1;
  background: linear-gradient(to right, var(--sc-circle-primary), var(--sc-circle-secondary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.simply-countdown .simply-word {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 0.8;
}

@keyframes pulse-circle {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.98);
    opacity: 0.9;
  }
}

/* responsive */

@media (max-width: 768px) {
  .landing-top h5 {
    margin-top: 350px;
  }

  .landing-top {
    background-position: bottom;
  }
  .left-panel {
    display: none;
  }

  .right-panel {
    flex: 1;
  }

  /* hero */

  .hero .carousel,
  .hero .carousel-inner,
  .hero .carousel-item {
    height: 100%;
  }

  .hero .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* wedding event */

  .wedding-event .content-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .wedding-event .content-wrapper .content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .wedding-event .widget {
    width: 200px;
  }
  .wedding-event .widget p {
    font-size: 26px;
    letter-spacing: 10px;
  }

  .wedding-event .content .content-satu {
    height: 150px;
    width: 130px;
    overflow: hidden;
  }
  .wedding-event .content .content-satu img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .wedding-event .content .content-dua {
    height: 130px;
    width: 100px;
    margin-top: 20px;
    overflow: hidden;
  }

  .wedding-event .content .content-dua img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  /* countdown */
  .simply-countdown-circle {
    column-gap: 1.5rem;
    row-gap: 0rem; /* jarak antar baris */
  }

  .simply-countdown-circle > .simply-section {
    width: 35px;
    height: 35px;
    padding: 0.5rem;
  }

  .simply-countdown-circle .simply-amount {
    font-size: 1rem;
  }

  .simply-countdown-circle .simply-word {
    font-size: 0.55rem;
  }
}
