* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --love: "Loved by the King";
  --swash: "Berkshire Swash";
}

.split-layout {
  display: flex;
  height: 100vh;
}

/* left panel */

.left-panel {
  flex: 2;
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url("image/7.png");
  background-position: center;
  background-size: cover;
  position: relative;
  color: #fff;
}

.left-panel h5 {
  margin-top: 500px;
}

.left-panel h2 {
  font-family: var(--swash);
  font-size: 35px;
  letter-spacing: 10px;
}

.left-panel > * {
  position: relative;
  z-index: 1;
}

.left-panel::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: black;
  opacity: 0.7;
}
/* right panel */
.right-panel {
  flex: 1;
  overflow: hidden;
  position: relative;
  background-color: black;
}
/* landing-top */
.landing-top {
  position: absolute;
  inset: 0;
  height: 100vh;
  z-index: 10;
  background-image: url("image/7.png");
  background-position: bottom;
  background-size: cover;
  color: white;
  transition: 1s;
}

.landing-top .pengantin {
  font-family: var(--swash);
  font-size: 35px;
  letter-spacing: 7px;
  font-weight: lighter;
}

.landing-top::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 70vh;
  bottom: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.landing-top > * {
  position: relative;
  z-index: 2;
}

.landing-top.hide {
  transform: translateY(-100vh);
}

.landing-top h5 {
  margin-top: 440px;
}

.landing-top button {
  border: 1px solid white;
}

.landing-top .maaf {
  font-size: 12px;
}

/* landing bottom */
.landing-bottom {
  position: relative;
  padding: 0;
}

.hero,
.quote,
.groom-bride,
.galery {
  position: relative;
  z-index: 2;
}

/* carousel sebagai background */
.landing-bottom .carousel-bg {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh !important;
  will-change: transform;
  transform: translateZ(0);
  z-index: 1;
  pointer-events: none;
}

.landing-bottom .carousel-inner,
.landing-bottom .carousel-item {
  height: 100%;
}

.landing-bottom .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* overlay */
.landing-bottom .carousel-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.landing-bottom .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* hero */
.hero {
  padding: 0;
  height: 100vh;
  background-color: aqua;
  position: relative;
  overflow: hidden;
  margin-top: -100vh;
}

.hero .content {
  padding: 20px 20px;
  color: white;
  border-top-right-radius: 100px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 80px;
  overflow: hidden;
  width: 90%;
  z-index: 1;
}

.hero .content .nama-pengantin {
  font-family: var(--love);
  font-size: 45px;
}
.hero .content > * {
  position: relative;
  z-index: 1;
}
.hero .content::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(255, 255, 255, 0.2);
  /* opacity: 0.3; */
  backdrop-filter: blur(3px);
  z-index: -1;
}

.hero .content .simpan {
  display: flex;
  padding: 10px 10px;
  height: 80px;
  align-items: center;
}
.hero .content .simpan .vertical-line {
  height: 80px;
  width: 1px;
  background-color: #fff;
}

.hero .content .line {
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.hero .content .tanggal {
  flex: 1;
  text-align: center;
}

.hero .content .countdown {
  flex: 1;
  text-align: center;
}

.hero .carousel,
.hero .carousel-inner,
.hero .carousel-item {
  height: 100vh !important;
}

.hero .carousel:after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: black;
  opacity: 0.5;
}

.hero .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* quote */

.quote {
  padding: 30px 0;
  position: relative;
  background-color: white;
  color: #fff;
}

.quote > * {
  position: relative;
  z-index: 1;
}

.quote::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: black;
  opacity: 0.7;
}

.quote .header {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}
.quote .header h1 {
  font-size: 40px;
  font-family: var(--swash);
}
.quote .header p {
  font-size: 20px;
  font-family: var(--swash);
  margin-top: 30px;
}
.quote .header .n {
  margin-top: 40px;
}

.quote span {
  font-weight: bold;
}

/* groom bride */

.groom-bride {
  position: relative;
  /* overflow: hidden; */
}

.groom-bride > * {
  position: relative;
  z-index: 2;
}

.groom-bride h1 {
  font-family: var(--swash);
  font-size: 30px;
  margin-bottom: 70px;
}

.groom-bride .groom {
  width: 250px;
  height: 300px;
  margin: auto;
  z-index: 2;
  font-family: "Poppins";
  position: relative;
  text-align: center;
}

.groom-bride .bride {
  width: 250px;
  height: 300px;
  margin-top: 250px !important;
  margin: auto;
  margin-bottom: 220px;
  font-family: "Poppins";
  z-index: 2;
  position: relative;
  text-align: center;
}

.groom-bride .groom p,
.groom-bride .bride p {
  font-size: 13px;
}

.groom-bride .bride h4 {
  font-size: 20px;
  margin-top: 10px;
}

.groom-bride .groom h4 {
  font-size: 20px;
  margin-top: 10px;
}

.groom-bride .groom .bottom,
.groom-bride .bride .bottom {
  color: #fff;
}

.groom-bride .groom .header h3,
.groom-bride .bride .header h3 {
  color: #fff;
}

.groom-bride .carousel-groom {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  position: relative;
}
.groom-bride .carousel-bride {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  position: relative;
}

/* wedding event */

.wedding-event {
  background-color: azure;
  position: relative;
  z-index: 2;
}

.wedding-event .card-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
}

.wedding-event .widget {
  width: 100px;
  background-color: black;
  color: #fff;
  display: flex;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.wedding-event .widget p {
  transform: rotate(-90deg);
  display: flex;
  font-size: 25px;
  font-family: var(--swash);
  height: 100%;
  align-items: center;
  white-space: nowrap;
}

.wedding-event .content {
  display: flex;
  gap: 10px;
  text-align: center;
  /* margin-top: 50px; */
  justify-content: center;
  margin: 50px auto;
}

.wedding-event .content .content-satu {
  height: 180px;
  width: 150px;
  background-color: aquamarine;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  margin-left: 20px;
  overflow: hidden;
}

.wedding-event .content .content-satu img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: opacity 1s;
}
.wedding-event .content .content-dua {
  height: 150px;
  width: 130px;
  background-color: aqua;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-top: 30px;
  overflow: hidden;
}
.wedding-event .content .content-dua img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: opacity 2s;
}

.content img {
  transition: all 2s;
}

.fade-out {
  opacity: 0.1;
}

/* galery */
.galery {
  padding: 70px 0;
  background-color: #fff;
}

.galery .header h2 {
  font-family: var(--swash);
  font-size: 30px;
}

.galery .header {
  text-align: center;
  margin-bottom: 20px;
}

/* kolom */

/* tinggi selang seling */
.galery .satu,
.galery .empat {
  height: 350px;
}

.galery .dua,
.galery .tiga {
  height: 300px;
}

/* image */
.galery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 6px;
  display: block;
  border-radius: 10px;
}

/* countdown */
.simply-countdown-circle {
  --sc-circle-primary: #fff;
  --sc-circle-secondary: #fff;
  /* --sc-circle-bg: #bcd9a2; */
  --sc-circle-text: #fff;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1.5rem;
  row-gap: 0.4rem; /* jarak antar baris */
  font-family: "Inter", sans-serif;
}

.simply-countdown-circle > .simply-section {
  position: relative;
  /* background-color: #bcd9a2; */
  width: 30px;
  height: 30px;
  /* border: 2px solid #bcd9a2; */
  padding: 0rem;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  flex: 0 0 calc(50% - 0.75rem);
  /* flex-direction: column; */
  /* border-radius: 50%; */
  /* background: linear-gradient(45deg, var(--sc-circle-primary), var(--sc-circle-secondary)); */
  /* box-shadow: 0 0 25px -5px var(--sc-circle-primary); */
  animation: pulse-circle 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.simply-countdown-circle > .simply-section::before {
  content: "";
  position: absolute;
  /* inset: 7px; */
  left: 7px;
  right: 7px;
  bottom: 7px;
  top: 0;
  border-radius: 15px;
  background: var(--sc-circle-bg);
  z-index: 0;
}

.simply-countdown-circle > .simply-section > div {
  position: relative;
  z-index: 1;
  color: var(--sc-circle-text);
  text-align: center;
}

.simply-countdown-circle .simply-amount {
  /* display: block; */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  background: linear-gradient(to right, var(--sc-circle-primary), var(--sc-circle-secondary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.simply-countdown-circle .simply-word {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 0.8;
}

@keyframes pulse-circle {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.98);
    opacity: 0.9;
  }
}

/* responsive */

@media (max-width: 768px) {
  .landing-top h5 {
    margin-top: 400px;
  }

  .landing-top {
    background-position: bottom;
  }
  .left-panel {
    display: none;
  }

  .right-panel {
    flex: 1;
  }

  /* hero */

  .hero .carousel,
  .hero .carousel-inner,
  .hero .carousel-item {
    height: 100%;
  }

  .hero .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* wedding event */

  .wedding-event .content {
    display: flex;
    justify-items: center;
    gap: 10px;
    /* margin-top: 40px; */
  }

  .wedding-event .widget {
    width: 80px;
  }
  .wedding-event .widget p {
    font-size: 35px;
  }

  .wedding-event .content .content-satu {
    height: 150px;
    width: 130px;
    overflow: hidden;
  }
  .wedding-event .content .content-satu img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .wedding-event .content .content-dua {
    height: 130px;
    width: 100px;
    margin-top: 20px;
    overflow: hidden;
  }

  .wedding-event .content .content-dua img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  /* countdown */
  .simply-countdown-circle {
    column-gap: 1.5rem;
    row-gap: 0rem; /* jarak antar baris */
  }

  .simply-countdown-circle > .simply-section {
    width: 35px;
    height: 35px;
    padding: 0.5rem;
  }

  .simply-countdown-circle .simply-amount {
    font-size: 1rem;
  }

  .simply-countdown-circle .simply-word {
    font-size: 0.55rem;
  }
}

/* batas */

.simply-countdown {
  --sc-circle-primary: #fff;
  --sc-circle-secondary: #fff;
  /* --sc-circle-bg: #ff0087; */
  --sc-circle-text: #fff;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  font-family: "Inter", sans-serif;
}

.simply-countdown > .simply-section {
  position: relative;
  width: 100px;
  height: 100px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  /* background: linear-gradient(45deg, var(--sc-circle-primary), var(--sc-circle-secondary)); */
  /* box-shadow: 0 0 25px -5px var(--sc-circle-primary); */
  animation: pulse-circle 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.simply-countdown > .simply-section::before {
  content: "";
  position: absolute;
  inset: 6px;
  border-radius: 50%;
  background: var(--sc-circle-bg);
  z-index: 0;
}

.simply-countdown > .simply-section > div {
  position: relative;
  z-index: 1;
  color: var(--sc-circle-text);
  text-align: center;
}

.simply-countdown .simply-amount {
  display: block;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1;
  background: linear-gradient(to right, var(--sc-circle-primary), var(--sc-circle-secondary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.simply-countdown .simply-word {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 0.8;
}

@keyframes pulse-circle {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.98);
    opacity: 0.9;
  }
}
