<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sayang</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <!--Awal font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Berkshire+Swash&family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap"
      rel="stylesheet"
    />

    <!-- Akhir font -->
    <!-- awal css -->
    <link rel="stylesheet" href="style.css" />
    <!-- akhir css -->

    <!-- icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
    <!-- icon -->

    <!-- Awal countdown -->
    <link rel="stylesheet" href="countdown/circle.css" />
    <script src="countdown/simplyCountdown.umd.js"></script>
    <!-- akhir countdown -->

    <!-- awal Glightbox -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
    <!-- ahir GLlightbox -->

    <!-- awal aos -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!-- akhir aos -->
  </head>
  <body>
    <section class="landing-top" id="landing-top">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="floral-wrapper">
              <div class="top-left">
                <img src="image/top-left.png" alt="" width="500px" />
              </div>
              <div class="bottom-right">
                <img src="image/bottom-right.png" alt="" width="500px" />
              </div>
            </div>
            <div class="container">
              <div class="row justify-content-center content">
                <div class="col text-center">
                  <h6 class="mb-3" data-aos="zoom-in" data-aos-duration="3000">THE WEDDING OF</h6>
                  <div class="gambar" data-aos="zoom-in" data-aos-duration="3000">
                    <img src="image/lingkaran.png" alt="" width="350px" class="lingkaran" />
                    <img src="image/bg-landing-page.png" alt="" class="pengantin img-thumbnail" width="300px" />
                  </div>

                  <h2 class="nama-pengantin" data-aos="zoom-in" data-aos-duration="3000">Amri & Nikel</h2>

                  <div class="undangan" data-aos="zoom-in" data-aos-duration="3000">
                    <p class="mb-3">Kepada Yth <br />Bapak/Ibu/Saudara/i</p>

                    <span class="nama">Tamu Undangan</span>
                  </div>

                  <p style="font-size: 10px">Mohon maaf Jika ada kesalahan dalam penulisan nama/gelar</p>

                  <button class="btn-open mt-3" id="openBtn"><i class="bi bi-book me-2"></i> Lihat Undangan</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="landing-bottom" id="landing-bottom">
      <section class="hero" id="hero">
        <div class="floral-wrapper">
          <div class="top-left">
            <img src="image/top-left.png" alt="" class="img-fluid" width="400" />
          </div>
          <div class="bottom-right">
            <img src="image/bottom-right.png" alt="" class="img-fluid" width="400" />
          </div>
        </div>
        <div class="container content">
          <div class="row">
            <div class="col">
              <div class="content text-center">
                <h5>THE WEDDING OF</h5>
                <div class="image-wrapper mb-3 mt-3"></div>

                <h2 class="nama-pengantin">Amri & Nikel</h2>
                <p>09 - 11 - 2025</p>
                <div class="simply-countdown-circle"></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="quote" id="quote">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 col-11 text-center" data-aos="zoom-in" data-aos-duration="3000">
              <div class="header">
                <h1>A</h1>
                <div class="fs-1 fw-bold">&</div>
                <h1>N</h1>
              </div>
              <p>"Dan di antara tanda-tanda (kebesaran)-Nya ialah Dia menciptakan pasangan-pasangan untukmu dari jenismu sendiri, agar kamu cenderung dan merasa tenteram kepadanya, dan Dia menjadikan di antaramu rasa kasih dan sayang."</p>
              <span>Q.S Ar-Rum : 21</span>
            </div>
          </div>
        </div>
      </section>
      <section class="groom-bride" id="groom-bride">
        <div class="floral-wrapper">
          <div class="top-left">
            <img src="image/top-left.png" alt="" class="img-fluid" width="400" />
          </div>
          <div class="bottom-right">
            <img src="image/bottom-right.png" alt="" class="img-fluid" width="400" />
          </div>
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-7 col-11 text-center" data-aos="zoom-in" data-aos-duration="3000">
              <h2>Acara Pernikahan</h2>
              <h3>Diselenggarakan pada tanggal 11 November 2005 di Pauh Kamang Mudik, kabupaten Agam Sumatera barat</h3>
              <p>Oleh karena itu dengan segala hormat, Kami mengundang bapak/ibu, Saudara/i untuk hadir pada acara pernikahan kami</p>
            </div>
          </div>
          <div class="row couple justify-content-center">
            <div class="col-lg-6 col-12 mt-5" data-aos="fade-right" data-aos-duration="3000">
              <div class="row justify-content-center">
                <div class="col-6">
                  <h3 class="text-end">M.hamri</h3>
                  <p class="text-end">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem ex optio tenetur possimus commodi dolorem dignissimos</p>
                  <p class="text-end">
                    Putra dari: Bpk Lorem <br />
                    dan <br />
                    Ibuk Ipsum
                  </p>
                </div>
                <div class="col-6">
                  <img src="image/2.jpg" alt="" class="img-thumbnail img-fluid" width="200px" />
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-12 mt-5" data-aos="fade-left" data-aos-duration="3000">
              <div class="row">
                <div class="col-6">
                  <img src="image/3.jpg" alt="" class="img-thumbnail img-fluid" width="200px" />
                </div>
                <div class="col-6">
                  <h3>Nikel Januanti</h3>
                  <p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem ex optio tenetur possimus commodi dolorem dignissimos</p>
                  <p class="">
                    Putra dari: Bpk Lorem <br />
                    dan <br />
                    Ibuk Ipsum
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="info-acara" class="info-acara">
        <div class="container">
          <div class="row justify-content-center mb-4" data-aos="zoom-in" data-aos-duration="3000">
            <div class="col-md-8 col-10 text-center">
              <h2>Informasi Acara</h2>
              <h4 class="mb-4">Jln Tabiang pauh Kamang Mudik kecamatan Kamang Magek Kabupaten Agam</h4>
              <a href="https://maps.app.goo.gl/vVuhVRVFRi5tkvES6" class="btn btn-light mb-4" target="_blank">Klik untuk membuka peta</a>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, numquam! Repudiandae, mollitia vitae? Possimus illo, nostrum sunt adipisci eligendi quia mollitia laborum consequuntur corporis molestias inventore beatae in
                culpa dolor.
              </p>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-md-5 col-10" data-aos="zoom-in" data-aos-duration="3000">
              <div class="card text-center mb-5">
                <div class="card-header">Akad Nikah</div>
                <div class="card-body">
                  <div class="row justify-content-center">
                    <div class="col">
                      <i class="bi bi-stopwatch-fill d-block"></i>
                      <span>10:30 - 11:00</span>
                    </div>
                    <div class="col">
                      <i class="bi bi-calendar-event-fill d-block"></i>
                      <span>11-Nov-2005</span>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-muted">
                  <span>Harap menjaga protokol kesehatan</span>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-10" data-aos="zoom-in" data-aos-duration="3000">
              <div class="card text-center mb-5">
                <div class="card-header">Resepsi</div>
                <div class="card-body">
                  <div class="row justify-content-center">
                    <div class="col">
                      <i class="bi bi-stopwatch-fill d-block"></i>
                      <span>10:00 - Selesai</span>
                    </div>
                    <div class="col">
                      <i class="bi bi-calendar-event-fill d-block"></i>
                      <span>11-Nov-2005</span>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-muted">
                  <span>Harap menjaga protokol kesehatan</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="love-story" id="love-story">
        <div class="floral-wrapper">
          <div class="top-left">
            <img src="image/top-left.png" alt="" class="img-fluid" width="400" />
          </div>
          <div class="bottom-right">
            <img src="image/bottom-right.png" alt="" class="img-fluid" width="400" />
          </div>
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col text-center">
              <div class="header" data-aos="zoom-in" data-aos-duration="3000">
                <div>
                  <p class="text1">Love</p>
                  <p class="text2">Story</p>
                </div>
                <div class="line"></div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center text-center mt-4">
            <div class="col-lg-7 col-10" data-aos="fade-left" data-aos-duration="3000">
              <div class="gambar">
                <img src="image/2.jpg" alt="" />
              </div>
              <p class="judul">Awal Pertemuan</p>
              <p class="ket">
                Siapa sangka, pertemuan singkat ditahun 2015 sebagai abang tingkat dan adik tingkat saat ospek asrama di Kelas Unggul SMAN 1 Pasaman meninggalkan kesan yang begitu mendalam. Saat itu Alan duduk dibangku kelas XII dan Layla
                kelas X. Berawal dari sapaan singkat dan obrolan ringan, perlahan berubah menjadi rasa ketertarikan.
              </p>
            </div>
            <div class="row justify-content-center" style="margin-top: 50px">
              <div class="col-lg-7 col-10" data-aos="fade-right" data-aos-duration="3000">
                <div class="gambar">
                  <img src="image/2.jpg" alt="" />
                </div>
                <p class="judul">Waktu dan jarak</p>
                <p class="ket">
                  Waktu dan jarak memisahkan langkah kami saat Layla memutuskan pindah sekolah ke SMAN 1 Lembah Melintang, namun kami tetap berkomunikasi disalah satu sosial media meskipun dengan waktu yang cukup singkat. Seiring
                  berjalannya waktu, komunikasi itu pun perlahan hilang. Waktu dan jarak semakin memisahkan kami setelah lulus SMA. Alan memutuskan untuk melanjutkan kuliah ke Institut Pertanian Bogor dan Layla ke Universitas Andalas.
                </p>
              </div>
            </div>
            <div class="row justify-content-center" style="margin-top: 50px">
              <div class="col-lg-7 col-10" data-aos="fade-left" data-aos-duration="3000">
                <div class="gambar">
                  <img src="image/3.jpg" alt="" />
                </div>
                <p class="judul">Pendekatan</p>
                <p class="ket">
                  Setelah 10 tahun berlalu, pada akhir bulan Agustus 2025 kami dipertemukan dan didekatkan kembali oleh seorang sahabat di kelas unggul, yang akhirnya meyakinkan kami untuk lebih mengenal satu sama lain. Perlahan, perasaan
                  itu semakin membuat kami yakin bahwa satu sama lain adalah jawaban dari doa-doa yang selama ini dipanjatkan.
                </p>
              </div>
            </div>
            <div class="row justify-content-center" style="margin-top: 50px">
              <div class="col-lg-7 col-10" data-aos="fade-right" data-aos-duration="3000">
                <div class="gambar">
                  <img src="image/4.jpg" alt="" />
                </div>
                <p class="judul">Lamaran</p>
                <p class="ket">
                  Atas izin Allah SWT, niat baik kami akhirnya berlanjut pada sebuah acara lamaran yang penuh doa dan kebahagiaan pada 05 Oktober 2025. Hari itu menjadi langkah awal menuju perjalanan panjang yang kami impikan bersama.
                </p>
              </div>
            </div>
            <div class="row justify-content-center" style="margin-top: 50px">
              <div class="col-lg-7 col-10" data-aos="fade-left" data-aos-duration="3000">
                <div class="gambar">
                  <img src="image/5.jpg" alt="" />
                </div>
                <p class="judul">Menuju Pernikahan & Resepsi</p>
                <p class="ket">
                  Akhirnya, dengan segala rasa syukur pada 06 Januari 2026 kami akan mengikrarkan janji suci pernikahan, dilanjutkan dengan resepsi 1 pada 08 Januari 2025 & Resepsi 2 pada 17 Januari 2025. Kami percaya, bukan karena bertemu
                  lalu berjodoh, melainkan karena berjodohlah kami akhirnya dipertemukan.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="galery" id="galery">
        <div class="floral-wrapper">
          <div class="top-left">
            <img src="image/top-left.png" alt="" class="img-fluid" width="500" />
          </div>
          <div class="bottom-right">
            <img src="image/bottom-right.png" alt="" class="img-fluid" width="500" />
          </div>
        </div>
        <div class="content">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-7 col-12 text-center">
                <div class="header"><h3>Our Moment</h3></div>
              </div>
            </div>
            <div class="row justify-content-center mb-5">
              <div class="col-lg-7 col-12 text-center ratio ratio-16x9 mb-5">
                <iframe src="https://www.youtube.com/embed/I7JK2itPR6U" title="YouTube video"> </iframe>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-4 col-6 mt-2 g-0 px-1" data-aos="zoom-in" data-aos-duration="3000">
                <a href="image/2.jpg"><img src="image/2.jpg" alt="" class="img-fluid" /></a>
              </div>
              <div class="col-lg-4 col-6 mt-2 g-0 px-1" data-aos="zoom-in" data-aos-duration="3000">
                <a href="image/3.jpg"><img src="image/3.jpg" alt="" class="img-fluid" /></a>
              </div>
              <div class="col-lg-4 col-6 mt-2 g-0 px-1" data-aos="zoom-in" data-aos-duration="3000">
                <a href="image/4.jpg"><img src="image/4.jpg" alt="" class="img-fluid" /></a>
              </div>
              <div class="col-lg-4 col-6 mt-2 g-0 px-1" data-aos="zoom-in" data-aos-duration="3000">
                <a href="image/5.jpg"><img src="image/5.jpg" alt="" class="img-fluid" /></a>
              </div>
              <div class="col-lg-4 col-6 mt-2 g-0 px-1" data-aos="zoom-in" data-aos-duration="3000">
                <a href="image/2.jpg"><img src="image/2.jpg" alt="" class="img-fluid" /></a>
              </div>
              <div class="col-lg-4 col-6 mt-2 g-0 px-1" data-aos="zoom-in" data-aos-duration="3000">
                <a href="image/3.jpg"><img src="image/3.jpg" alt="" class="img-fluid" /></a>
              </div>
              <div class="col-lg-4 col-6 mt-2 g-0 px-1" data-aos="zoom-in" data-aos-duration="3000">
                <a href="image/4.jpg"><img src="image/4.jpg" alt="" class="img-fluid" /></a>
              </div>
              <div class="col-lg-4 col-6 mt-2 g-0 px-1" data-aos="zoom-in" data-aos-duration="3000">
                <a href="image/5.jpg"><img src="image/5.jpg" alt="" class="img-fluid" /></a>
              </div>
              <div class="col-lg-4 col-6 mt-2 g-0 px-1" data-aos="zoom-in" data-aos-duration="3000">
                <a href="image/2.jpg"><img src="image/2.jpg" alt="" class="img-fluid" /></a>
              </div>
              <div class="col-lg-4 col-6 mt-2 g-0 px-1" data-aos="zoom-in" data-aos-duration="3000">
                <a href="image/3.jpg"><img src="image/3.jpg" alt="" class="img-fluid" /></a>
              </div>
            </div>

            <div class="row justify-content-center mt-1 satu">
              <div class="col-12 text-center g-0" data-aos="zoom-in" data-aos-duration="3000">
                <a href="image/2.jpg"><img src="image/2.jpg" alt="" class="img-fluid" width="100%" /></a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="gift" id="gift">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-7 col-10 text-center" data-aos="zoom-in" data-aos-duration="2500">
              <img src="image/2.jpg" alt="" class="img-fluid mb-4" />

              <h2 style="font-family: Poppins; font-size: 30px; margin-bottom: 20px; color: white">Wedding Gift</h2>
              <p style="font-family: Poppins; color: white">Doa Restu Anda merupakan karunia yang sangat berarti bagi kami. Dan jika memberi adalah ungkapan tanda kasih, Anda dapat memberi melalui dibawah ini.</p>
            </div>
          </div>
        </div>
        <div class="container text-center">
          <p class="d-inline-flex gap-1 text-center tombol">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="bi bi-play-btn me-1"></i>Klik di sini</button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <div class="row justify-content-center py-5 rek">
                <div class="col">
                  <div class="bri">
                    <div>
                      <span>No Rekening <br />1234567890</span> <br />
                    </div>
                    <div>
                      <img src="image/bri.png" alt="" class="img-fluid" />
                    </div>
                  </div>
                  <div class="bri mt-3">
                    <div>
                      <span class="fw-bold">Atas Nama <br />Amri</span> <br />
                    </div>
                    <div>
                      <button class="btn btn-dark"><i class="bi bi-floppy me-2"></i>Salin</button>
                    </div>
                  </div>
                  <div class="line"></div>
                </div>
              </div>
              <div class="row justify-content-center py-5 rek">
                <div class="col">
                  <div class="bri">
                    <div>
                      <span>No Rekening <br />1234567890</span> <br />
                    </div>
                    <div>
                      <img src="image/bni.png" alt="" class="img-fluid" />
                    </div>
                  </div>
                  <div class="bri mt-3">
                    <div>
                      <span class="fw-bold">Atas Nama <br />Amri</span> <br />
                    </div>
                    <div>
                      <button class="btn btn-dark"><i class="bi bi-floppy me-2"></i>Salin</button>
                    </div>
                  </div>
                  <div class="line"></div>
                </div>
              </div>
              <div class="row justify-content-center py-5 rek">
                <div class="col">
                  <div class="bri">
                    <div>
                      <span class="fw-bold">Nama Penerima <br />Amri <br />Wa. 085272908546</span> <br />
                    </div>
                    <div>
                      <h3>KADO</h3>
                    </div>
                  </div>
                  <div class="bri mt-3">
                    <div class="me-5">
                      <span>Alamat Penerima <br />Jorong Tabiang Pauh. Nagari Pauh Kamang Mudik. Kamang magek Agam</span>
                    </div>
                    <div>
                      <button class="btn btn-dark" style="height: 35px; display: flex; align-items: center"><i class="bi bi-floppy me-1"></i>Salin</button>
                    </div>
                  </div>
                  <div class="line"></div>

                  <a href="https://wa.me/6285272908546" class="btn btn-dark d-block mt-3" target="_blank"><i class="bi bi-whatsapp me-2"></i>Konfirmasi Transfer</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="congrat" id="congrat">
        <div class="floral-wrapper">
          <div class="top-left">
            <img src="image/top-left.png" alt="" class="img-fluid" width="400" />
          </div>
          <div class="bottom-right">
            <img src="image/bottom-right.png" alt="" class="img-fluid" width="400" />
          </div>
        </div>
        <div class="container content">
          <div class="row justify-content-center">
            <div class="col-lg-7 col-10 text-center">
              <div class="header">
                <h2>Ucapan & Doa</h2>
                <p>Beri Ucapan dan Doa terbaik buat kami</p>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-7 col-10">
              <form>
                <div class="mb-3">
                  <input type="text" class="form-control" id="nama" name="nama" placeholder="Nama" />
                </div>
                <div class="mb-3">
                  <textarea name="ucapan" id="ucapan" class="form-control">Ucapan</textarea>
                </div>
                <button type="submit" class="btn btn-dark"><i class="bi bi-send me-2"></i>Kirim</button>
              </form>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-7 col-10">
              <div class="kotak-pesan">
                <div class="text-pesan">
                  <p>Muhammad</p>
                  <span
                    >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi nam culpa ex eveniet quae eos quibusdam dolor, molestiae voluptatibus harum illum officiis tempore. Error adipisci voluptas nulla eaque. Dolore,
                    explicabo!</span
                  >
                </div>
                <div class="text-pesan">
                  <p>Muhammad</p>
                  <span
                    >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi nam culpa ex eveniet quae eos quibusdam dolor, molestiae voluptatibus harum illum officiis tempore. Error adipisci voluptas nulla eaque. Dolore,
                    explicabo!</span
                  >
                </div>
                <div class="text-pesan">
                  <p>Muhammad</p>
                  <span
                    >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi nam culpa ex eveniet quae eos quibusdam dolor, molestiae voluptatibus harum illum officiis tempore. Error adipisci voluptas nulla eaque. Dolore,
                    explicabo!</span
                  >
                </div>
                <div class="text-pesan">
                  <p>Muhammad</p>
                  <span
                    >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi nam culpa ex eveniet quae eos quibusdam dolor, molestiae voluptatibus harum illum officiis tempore. Error adipisci voluptas nulla eaque. Dolore,
                    explicabo!</span
                  >
                </div>
                <div class="text-pesan">
                  <p>Muhammad</p>
                  <span
                    >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi nam culpa ex eveniet quae eos quibusdam dolor, molestiae voluptatibus harum illum officiis tempore. Error adipisci voluptas nulla eaque. Dolore,
                    explicabo!</span
                  >
                </div>
                <div class="text-pesan">
                  <p>Muhammad</p>
                  <span
                    >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi nam culpa ex eveniet quae eos quibusdam dolor, molestiae voluptatibus harum illum officiis tempore. Error adipisci voluptas nulla eaque. Dolore,
                    explicabo!</span
                  >
                </div>
                <div class="text-pesan">
                  <p>Muhammad</p>
                  <span
                    >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi nam culpa ex eveniet quae eos quibusdam dolor, molestiae voluptatibus harum illum officiis tempore. Error adipisci voluptas nulla eaque. Dolore,
                    explicabo!</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="rsvp" id="rsvp">
        <div class="floral-wrapper">
          <div class="top-right">
            <img src="image/top-right.png" alt="" class="img-fluid" width="400" />
          </div>
          <div class="top-left">
            <img src="image/top-left.png" alt="" class="img-fluid" width="400" />
          </div>
          <div class="bottom-right">
            <img src="image/bottom-right.png" alt="" class="img-fluid" width="400" />
          </div>
          <div class="bottom-left">
            <img src="image/bottom-left.png" alt="" class="img-fluid" width="400" />
          </div>
        </div>
        <div class="container content">
          <div class="row justify-content-center text-center">
            <div class="col-lg-7 col-10">
              <div class="header" data-aos="zoom-in" data-aos-duration="2500">
                <h3>Konfirmasi Kehadiran</h3>
                <p>Silahkan isi Form Konfirmasi kehadiran di bawah ini</p>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-7 col-10">
              <form>
                <div class="mb-3">
                  <label for="nama" class="form-label">Nama</label>
                  <input type="text" class="form-control" id="nama" name="nama" />
                </div>
                <div class="mb-3">
                  <label for="jumlah" class="form-label">Jumlah Anggota</label>
                  <input type="number" class="form-control" id="jumlah" name="jumlah" min="1" max="4" />
                </div>
                <div class="mb-3">
                  <label for="ket" class="form-label">Keterangan</label>
                  <select name="ket" id="ket" class="form-select">
                    <option selected disabled>Pilh Konfirmasi kehadiran</option>
                    <option value="Hadir">Insya Allah akan hadir</option>
                    <option value="Tidak hadir">Maaf tidak bisa hadir</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-dark"><i class="bi bi-send me-2"></i>Kirim</button>
              </form>
            </div>
          </div>
        </div>
      </section>
      <section class="thankyou" id="thankyou">
        <div class="floral-wrapper">
          <div class="top-left">
            <img src="image/top-left.png" alt="" class="img-fluid" width="400" />
          </div>
          <div class="bottom-right">
            <img src="image/bottom-right.png" alt="" class="img-fluid" width="400" />
          </div>
        </div>
        <div class="container content">
          <div class="row justify-content-center">
            <div class="col-lg-7 col-11 text-center">
              <img src="image/jumbo/1.png" alt="" class="img-fluid mb-5" data-aos="zoom-in" data-aos-duration="2500" />
              <h3>Terima Kasih</h3>
              <p style="font-family: Poppins; color: white" data-aos="zoom-in" data-aos-duration="2500">
                Merupakan suatu kebahagiaan dan kehormatan bagi kami, apabila Bapak/Ibu/Saudara/i, berkenan hadir dan memberikan do’a restu kepada kami.
              </p>
              <p style="font-family: Poppins; color: white; margin-top: 30px">Wassalamu’alaikum warahmatullahi wabarakatuh</p>
              <p style="font-family: Poppins; color: white; margin-top: 50px; text-transform: uppercase">kami yang berbahagia</p>
              <p style="font-family: Ballet; color: white; margin-top: 50px" class="nama_pengantin">Amri <i class="bi bi-heart-fill me-3 ms-3"></i> Nikel</p>
            </div>
          </div>
        </div>
      </section>
      <footer>
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col">
              <a href="" style="text-decoration: none; text-transform: uppercase">hubungi kami</a><br />
              <a href="" style="text-decoration: none; font-weight: bold; margin-bottom: 20px; display: inline-block">emhaundangan.id</a>
              <div class="medsos">
                <div class="wa">
                  <a href=""><i class="bi bi-whatsapp me-2"></i></a>
                </div>
                <div class="ig">
                  <a href=""><i class="bi bi-instagram"></i></a>
                </div>
                <div class="fb">
                  <a href=""><i class="bi bi-facebook"></i></a>
                </div>
                <div class="tiktok">
                  <a href=""><i class="bi bi-tiktok"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>

      <section class="audio-icon" id="audio-icon" style="display: none">
        <audio class="song" loop>
          <source src="../../asset/audio/song3.mp3" />
        </audio>
        <div class="icon-wrapper">
          <i class="bi bi-disc-fill"></i>
        </div>
      </section>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <!-- j-query cdn -->
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>

    <!-- aos -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 220,
      });
    </script>

    <script src="script.js"></script>
  </body>
</html>
