<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hasrat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <!--Awal font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Berkshire+Swash&family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap"
      rel="stylesheet"
    />

    <!-- Akhir font -->
    <!-- awal css -->
    <link rel="stylesheet" href="style.css" />
    <!-- akhir css -->

    <!-- icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
    <!-- icon -->

    <!-- Awal countdown -->

    <script src="../../asset/countdown/simplyCountdown.umd.js"></script>
    <!-- akhir countdown -->

    <!-- awal Glightbox -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
    <!-- ahir GLlightbox -->

    <!-- awal aos -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!-- akhir aos -->
  </head>
  <body>
    <main class="split-layout">
      <div class="left-panel" id="leftPanel">
        <div class="container">
          <div class="row">
            <div class="col">
              <h5>The Wedding Of</h5>
              <h2 class="nama-pengantin">Amri & Nikel</h2>
              <p>Minggu, 09 Nov 2025</p>
            </div>
          </div>
        </div>
      </div>
      <div class="right-panel" id="rightPanel">
        <section class="landing-top" id="landingTop">
          <div class="container">
            <div class="row">
              <div class="col">
                <h5>The Wedding Of</h5>
                <h2 class="nama-pengantin">Amri & Nikel</h2>

                <div class="content-bottom">
                  <p>Kepada Bapak/ibu/Saudara/i</p>
                  <p class="undangan">Tamu Undangan</p>
                  <p class="maaf">"Mohon maaf atas kesalahan dalam penulisan nama/gelar"</p>
                  <button class="btn btn-dark" id="btnOpen"><i class="bi bi-book me-2"></i>Buka Undangan</button>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="landing-bottom" id="landingBottom">
          <section class="hero" id="hero">
            <div class="container">
              <div class="row">
                <div class="col">
                  <h5>We are Getting Marrieds</h5>
                  <h2 class="nama-pengantin">Amri & Nikel</h2>
                  <p class="tanggal">Minggu, 11 09 2025</p>
                  <div class="simply-countdown-circle"></div>
                </div>
              </div>
            </div>
          </section>
          <section class="slider" id="slider">
            <div class="container">
              <div class="row justify-content-center text-center">
                <div class="col">
                  <div id="" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="300">
                        <div class="row g-2">
                          <div class="col">
                            <img src="image/2.png" class="img-fluid rounded" />
                          </div>
                          <div class="col">
                            <img src="image/3.png" class="img-fluid rounded" />
                          </div>
                          <div class="col">
                            <img src="image/4.png" class="img-fluid rounded" />
                          </div>
                          <div class="col">
                            <img src="image/5.png" class="img-fluid rounded" />
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item g-2" data-bs-interval="300">
                        <div class="row g-2">
                          <div class="col">
                            <img src="image/2.png" class="img-fluid rounded" />
                          </div>
                          <div class="col">
                            <img src="image/3.png" class="img-fluid rounded" />
                          </div>
                          <div class="col">
                            <img src="image/4.png" class="img-fluid rounded" />
                          </div>
                          <div class="col">
                            <img src="image/5.png" class="img-fluid rounded" />
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item" data-bs-interval="300">
                        <div class="row g-2">
                          <div class="col">
                            <img src="image/2.png" class="img-fluid rounded" />
                          </div>
                          <div class="col">
                            <img src="image/3.png" class="img-fluid rounded" />
                          </div>
                          <div class="col">
                            <img src="image/4.png" class="img-fluid rounded" />
                          </div>
                          <div class="col">
                            <img src="image/5.png" class="img-fluid rounded" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="text">Tanpa mengurangi rasa hormat, kami bermaksud mengundang Bapak/Ibu/Saudara/i pada Upacara Pernikahan Putra dan Putri Kami.</p>
                </div>
              </div>
            </div>
          </section>
          <section class="groom-bride" id="groomBride">
            <div class="container">
              <div class="row justify-content-center text-center">
                <div class="col">
                  <div class="gromm">
                    <div class="header">
                      <h3>Groom</h3>
                      <div class="line"></div>
                    </div>
                    <div class="image-wrapper">
                      <img src="image/7.png" alt="" class="img-fluid" />
                      <div class="nama">Amri</div>
                    </div>
                    <div class="text">
                      <p class="nama">Muhammad Hamri, S.Pd</p>
                      <p>
                        Putra Kelima dari <br />
                        Bapak Lorem Ipsum dan Ibu Lorem Ipsum
                      </p>
                      <a href="" class="btn btn-sm"><i class="bi bi-instagram me-2"></i> Username</a>
                    </div>
                  </div>
                  <div class="and">Together with</div>
                  <div class="bride">
                    <div class="header">
                      <div class="line"></div>
                      <h3>Bride</h3>
                    </div>
                    <div class="image-wrapper">
                      <img src="image/8.png" alt="" class="img-fluid" />
                      <div class="nama">Nikel</div>
                    </div>
                    <div class="text">
                      <p class="nama">Nikel Januanti, S.Pd</p>
                      <p>
                        Putra Pertama dari <br />
                        Bapak Lorem Ipsum dan Ibu Lorem Ipsum
                      </p>

                      <a href="" class="btn btn-sm"><i class="bi bi-instagram me-2"></i> Username</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="save-date" id="saveDate">
            <div class="container">
              <div class="row justify-content-center text-center">
                <div class="col">
                  <div class="tanggal">
                    <h1>09</h1>
                    <h1>11</h1>
                    <h1>26</h1>
                  </div>
                  <h1 class="text">Save The Date</h1>
                  <a href="" class="btn btn-sm btn-light"><i class="bi bi-floppy me-2"></i>Save the date</a>
                </div>
              </div>
            </div>
          </section>
          <section class="quote" id="quote">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="header">
                    <h1>A</h1>
                    <div class="line"></div>
                    <h1>N</h1>
                  </div>
                  <p>
                    "Dan di antara tanda-tanda (kebesaran)-Nya ialah Dia menciptakan pasangan-pasangan untukmu dari jenismu sendiri, agar kamu cenderung dan merasa tenteram kepadanya, dan Dia menjadikan di antaramu rasa kasih dan sayang."
                  </p>
                  <span>Q.S Ar-Rum : 21</span>
                </div>
              </div>
            </div>
          </section>

          <section class="wedding-event" id="weddingEvent">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="header">
                    <h1>Wedding</h1>
                    <h1>Event</h1>
                  </div>

                  <div class="card g-0">
                    <div id="carouselWeddingevent" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="image/2.png" class="img-fluid" alt="..." />
                        </div>
                        <div class="carousel-item">
                          <img src="image/5.png" class="img-fluid" alt="..." />
                        </div>
                        <div class="carousel-item">
                          <img src="image/4.png" class="img-fluid" alt="..." />
                        </div>
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <div class="row">
                        <div class="col-3">
                          <div class="widget">
                            <p>Resepsi</p>
                          </div>
                        </div>
                        <div class="col-9">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </section>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <!-- j-query cdn -->
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>

    <!-- aos -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 220,
      });
    </script>

    <script src="script.js"></script>
  </body>
</html>
