<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hasrat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main class="split-layout">
      <div class="left-panel" id="leftPanel">
        <div class="container">
          <div class="row">
            <div class="col">
              <h5>The Wedding Of</h5>
              <h2>Amri & Nikel</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="right-panel" id="rightPanel">
        <section class="landing-top" id="landingTop">
          <div class="container">
            <div class="row">
              <div class="col">
                <h5>The Wedding Of</h5>
                <h2>Amri & Nikel</h2>
                <p>
                  Kepada Yth <br />
                  Bapak/ibu/Saudara/i
                </p>
                <p>Tamu Undangan</p>
                <span class="maaf">"Mohon maaf atas kesalahan dalam penulisan nama/gelar"</span>
                <button class="btn btn-primary" id="btnOpen">Buka Undangan</button>
              </div>
            </div>
          </div>
        </section>
        <section class="landing-bottom" id="landingBottom">
          <section class="hero" id="hero">
            <div class="container">
              <div class="row">
                <div class="col">
                  <h5>The Wedding of</h5>
                  <h2>Amri & Nikel</h2>
                  <p>11 09 2025</p>
                  <div class="simply-countdown"></div>
                </div>
              </div>
            </div>
          </section>
          <section class="quote" id="quote">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="header">
                    <h1>A</h1>
                    <span class="line"></span>
                    <h1>N</h1>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa dolorum velit necessitatibus itaque vitae temporibus, dicta ducimus et minus quasi sed illo voluptatum quisquam eum! Dolorem libero quae, deleniti molestiae
                    inventore necessitatibus delectus voluptatem! Consequuntur illo, fugit exercitationem assumenda quam laboriosam accusantium a neque vitae? Eius dicta ad iste ipsa.
                  </p>
                </div>
              </div>
            </div>
          </section>
        </section>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <script src="script.js"></script>
  </body>
</html>
