* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

:root {
  --swash: "Berkshire Swash";
  --ballet: "Ballet";
  --primary: #280905;
}

.split-layout {
  display: flex;
  height: 100vh;
}

.left-panel {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to top, var(--primary), white);
  color: #fff;
}

.left-panel .nama-pengantin {
  font-size: 40px;
  font-family: var(--ballet);
  margin-top: 30px;
}

.right-panel {
  flex: 1;
  height: 100vh;
  overflow-y: hidden; /* LOCK awal */
  position: relative;
}

.landing-top {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 10;
  background-image: url("image/2.png");
  background-position: center;
  background-size: cover;
  transition: 3s;
  color: white;
}
.landing-top > * {
  position: relative;
  z-index: 1;
}
.landing-top::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: black;
  opacity: 0.5;
}
.landing-top h5 {
  margin-top: 60px;
}
.landing-top .nama-pengantin {
  font-family: var(--ballet);

  letter-spacing: 7px;
  margin-top: 10px;
}

.landing-top .maaf {
  font-size: 14px;
  font-style: italic;
}

.landing-top .undangan {
  font-size: 17px;
}

.landing-top .content-bottom {
  margin-top: 330px;
}

.landing-top.hide {
  transform: translateY(-100vh);
}

.landing-top button {
  margin-top: 10px;
  border: 1px solid white;
}
/* hero */
.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  background-image: url("image/4.png");
  background-position: bottom;
  background-size: cover;
  color: black;
}

.hero .nama-pengantin {
  font-family: var(--ballet);
  font-size: 30px;
  margin-top: 20px;
}

.hero h5 {
  margin-top: 40px;
}
.hero .tanggal {
  color: #fff;
}

.hero > * {
  position: relative;
  z-index: 2;
}

.hero .tanggal {
  margin-top: 390px;
}

.hero::after {
  position: absolute;
  content: "";
  inset: 0;
  background-image: linear-gradient(to top, rgba(40, 9, 5, 1), rgba(255, 255, 255, 0));
}
/* slide */
.slider {
  margin-top: -1px;
  padding: 40px 0;
  background-color: var(--primary);
  color: white;
}
.slider .carousel-item img {
  width: 100%;
  height: 130px; /* samakan tinggi */
  object-fit: cover;
  transition: 3s;
}

.slider .slide .carousel-item {
  transition: 10s ease-in-out;
  padding-right: 8px;
}

.slider .text {
  width: 80%;
  margin: 30px auto;
}
/* groom bride */

.groom-bride {
  padding: 70px 10px;
  background-image: linear-gradient(to top, var(--primary), white);
}

.groom-bride .header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.groom-bride .header h3 {
  font-size: 40px;
  font-family: var(--swash);
  margin-bottom: 20px;
}
.groom-bride .image-wrapper {
  height: 80vh;
  box-shadow: 0 0 8px rgba(40, 9, 5, 0.9);
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  overflow: hidden;
  position: relative;
}

.groom-bride .bride {
  color: #fff;
}
.groom-bride .bride .text .nama {
  color: #fff;
}

.image-wrapper .nama {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-family: var(--ballet);
  color: black;
  font-size: 30px;
  z-index: 2;
}

.groom-bride .text .nama {
  font-family: var(--swash);
  color: var(--primary);
  font-size: 20px;
  margin-top: 10px;
}

.groom-bride .image-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.8) 10%, rgba(255, 255, 255, 0.7) 20%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0) 40%);
}
.groom-bride .image-wrapper img {
  height: 100%;
  object-fit: cover;
}

.groom-bride .header .line {
  height: 2px;
  width: 70%;
  background-color: var(--primary);
}

.groom-bride .and {
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: bold;
  font-family: var(--ballet);
  color: var(--primary);
}

.groom-bride .text a {
  background-color: var(--primary);
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
}

/* save the date */

.save-date {
  padding: 80px 0;
  height: 100vh;
  position: relative;
  background-image: url("image/6.png");
  background-position: center;
  background-size: cover;
}

.save-date > * {
  position: relative;
  z-index: 2;
}

.save-date::after {
  position: absolute;
  content: "";
  inset: 0;
  background-image: linear-gradient(to top, rgba(40, 9, 5, 1), rgba(255, 255, 255, 0));
}

.save-date .tanggal {
  position: absolute;
  right: 20px;
  top: -90px;
  color: #fff;
  font-family: var(--swash);
  font-size: 60px !important;
}
.save-date .tanggal h1 {
  font-size: 70px !important;
}

.save-date .text {
  margin-top: 400px;
  color: #fff;
  font-family: var(--swash);
}

.save-date a {
  background-color: wheat;
  display: inline-block;
  color: black;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 10px;
}
/* quote */
.quote {
  padding: 30px 20px;
  text-align: center;
  position: relative;
  color: white;
}

.quote > * {
  position: relative;
  z-index: 2;
}

.quote::after {
  position: absolute;
  inset: 0;
  content: "";
  background-color: var(--primary);
}

.quote .header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}

.quote .header h1 {
  font-family: var(--swash);
}
.quote span {
  color: white;
}

.quote .header .line {
  width: 2px;
  height: 50px;
  background-color: white;
}

/* wedding event */

.wedding-event {
  padding: 70px 10px;
  background-color: azure;
}

.wedding-event .card {
  border-top-right-radius: 130px;
  overflow: hidden;
}
.wedding-event .card .tanggal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.wedding-event .card .tanggal .angka {
  font-size: 70px;
}
.wedding-event .header {
  margin: auto;
  margin-bottom: 40px;
}

.card .line {
  width: 100%;
  height: 1px;
  background-color: var(--primary);
  margin-top: -20px;
}

.wedding-event .atas {
  font-family: var(--swash);
  font-size: 40px;
}
.wedding-event .bawah {
  font-family: var(--ballet);
  font-size: 50px;
  margin-top: -30px;
  font-weight: bold;
  color: var(--primary);
}

.wedding-event .card-body {
  display: flex;
  padding: 10px 0;
}
.wedding-event .card-body .widget {
  background: var(--primary);
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wedding-event .card-body .widget p {
  transform: rotate(-90deg);
  font-family: var(--swash);
  font-size: 30px;
  letter-spacing: 7px;
}

.wedding-event .carousel-inner {
  height: 40vh;
}
.wedding-event .carousel-inner .carousel-item {
  height: 40vh;
}
.wedding-event .carousel-inner .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.wedding-event .card a {
  padding: 4px 10px;
  background-color: var(--primary);
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
}

.wedding-event .dua {
  margin-top: 70px;
  border-top-left-radius: 130px;
  border-top-right-radius: 0;
}

.wedding-event .carousel-inner .carousel-item {
  transition: all 4s;
}

/* Membalik arah slide carousel (kiri → kanan) */
.two .carousel-item-next:not(.carousel-item-start),
.two .active.carousel-item-end {
  transform: translateX(-100%);
}

.two .carousel-item-prev:not(.carousel-item-end),
.two .active.carousel-item-start {
  transform: translateX(100%);
}

.wedding-event .carousel-inner .carousel-item {
  transition: all 4s;
}

/* galery */
.gallery {
  padding: 50px 20px;
  background-color: var(--primary);
}

.gallery .header {
  margin: auto;
  text-align: center;
  margin-bottom: 35px;
}
.gallery .header h3 {
  color: white;
  font-family: var(--swash);
  font-size: 28px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.gallery-grid img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

/* variasi ukuran */
.gallery-grid img.tall {
  height: 350px;
}

.gallery-grid img.wide {
  grid-column: span 2;
  height: 180px;
}
/* countdown */
.simply-countdown-circle {
  --sc-circle-primary: #fff;
  --sc-circle-secondary: #fff;
  /* --sc-circle-bg: #bcd9a2; */
  --sc-circle-text: #fff;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  font-family: "Inter", sans-serif;
}

.simply-countdown-circle > .simply-section {
  position: relative;
  /* background-color: #bcd9a2; */
  width: 90px;
  height: 90px;
  /* border: 2px solid #bcd9a2; */
  padding: 1rem;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border-radius: 50%; */
  /* background: linear-gradient(45deg, var(--sc-circle-primary), var(--sc-circle-secondary)); */
  /* box-shadow: 0 0 25px -5px var(--sc-circle-primary); */
  animation: pulse-circle 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.simply-countdown-circle > .simply-section::before {
  content: "";
  position: absolute;
  /* inset: 7px; */
  left: 7px;
  right: 7px;
  bottom: 7px;
  top: 0;
  border-radius: 15px;
  background: var(--sc-circle-bg);
  z-index: 0;
}

.simply-countdown-circle > .simply-section > div {
  position: relative;
  z-index: 1;
  color: var(--sc-circle-text);
  text-align: center;
}

.simply-countdown-circle .simply-amount {
  display: block;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 0.7;
  background: linear-gradient(to right, var(--sc-circle-primary), var(--sc-circle-secondary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.simply-countdown-circle .simply-word {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 0.8;
}

@keyframes pulse-circle {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.98);
    opacity: 0.9;
  }
}

@media (max-width: 768px) {
  .left-panel {
    display: none;
  }

  .right-panel {
    flex: 1;
  }

  .landing-top .maaf {
    font-size: 10px;
    font-style: italic;
  }

  /* countdown */
  .simply-countdown-circle {
    gap: 0.9rem; /* kecilkan jarak antar lingkaran */
  }

  .simply-countdown-circle > .simply-section {
    width: 67px;
    height: 67px;
    padding: 0.8rem;
  }

  .simply-countdown-circle .simply-amount {
    font-size: 1rem;
  }

  .simply-countdown-circle .simply-word {
    font-size: 0.55rem;
  }
}

/* batas */

.simply-countdown {
  --sc-circle-primary: #fff;
  --sc-circle-secondary: #fff;
  /* --sc-circle-bg: #ff0087; */
  --sc-circle-text: #fff;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  font-family: "Inter", sans-serif;
}

.simply-countdown > .simply-section {
  position: relative;
  width: 100px;
  height: 100px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  /* background: linear-gradient(45deg, var(--sc-circle-primary), var(--sc-circle-secondary)); */
  /* box-shadow: 0 0 25px -5px var(--sc-circle-primary); */
  animation: pulse-circle 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.simply-countdown > .simply-section::before {
  content: "";
  position: absolute;
  inset: 6px;
  border-radius: 50%;
  background: var(--sc-circle-bg);
  z-index: 0;
}

.simply-countdown > .simply-section > div {
  position: relative;
  z-index: 1;
  color: var(--sc-circle-text);
  text-align: center;
}

.simply-countdown .simply-amount {
  display: block;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1;
  background: linear-gradient(to right, var(--sc-circle-primary), var(--sc-circle-secondary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.simply-countdown .simply-word {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 0.8;
}

@keyframes pulse-circle {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.98);
    opacity: 0.9;
  }
}
