* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.split-layout {
  display: flex;
  height: 100vh;
}

.left-panel {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  text-align: center;
}

.right-panel {
  flex: 1;
  background: white;
  height: 100vh;
  overflow-y: hidden; /* LOCK awal */
  position: relative;
}

.landing-top {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10;
  background-color: blueviolet;
  transition: 3s;
}

.landing-top.hide {
  transform: translateY(-100vh);
}

.landing-top button {
  margin-top: 30px;
}

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: brown;
}

.quote {
  padding: 80px 0;
  background-color: lightgreen;
  text-align: center;
}

.quote .header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 10px;
}

.quote .header p {
  font-size: 35px;
}

.quote .header .line {
  width: 2px;
  height: 50px;
  background-color: black;
}

@media (max-width: 768px) {
  .left-panel {
    display: none;
  }

  .right-panel {
    flex: 1;
  }

  .landing-top .maaf {
    font-size: 10px;
    font-style: italic;
  }
}
