/* RESET */
body {
  margin: 0;
  overflow: hidden; /* LOCK awal */
  font-family: Poppins, sans-serif;
}

/* MAIN SPLIT */
.split-layout {
  display: flex;
  height: 100vh;
}

/* LEFT PANEL (8 GRID) */
.left-panel {
  flex: 2;
  background: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* RIGHT PANEL (4 GRID) */
.right-panel {
  flex: 1;
  background: white;
  height: 100vh;
  overflow-y: hidden; /* LOCK awal */
  position: relative;
}

/* LANDING TOP (FULL SCREEN) */
.landing-top {
  position: absolute;
  inset: 0;
  background: black;
  color: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 3s;
}

.landing-top.hide {
  transform: translateY(-100vh);
}

/* SCROLL DOWN */

.scroll-down {
  position: absolute;
  bottom: 40px;
  left: 32%;
  transform: translate(-50%, -300px); /* posisi awal di atas */
  font-size: 30px;
  color: white;
  text-align: center;
  opacity: 0;
  transition: all 0.8s ease-out;
  pointer-events: none;
}

/* Saat muncul */
.scroll-down.muncul {
  transform: translate(-50%, 0); /* jatuh ke posisi */
  opacity: 1;
  animation: bounce 1.5s infinite 0.8s;
  /* bounce mulai setelah jatuh */
}

/* BOUNCE */
@keyframes bounce {
  0%,
  100% {
    transform: translate(-50%, 0);
    opacity: 0.7;
  }
  50% {
    transform: translate(-50%, 10px);
    opacity: 1;
  }
}

/* ISI UNDANGAN */
.landing-bottom {
  background-color: bisque;
}

/* HERO */
.hero {
  text-align: center;
  height: 100vh;
  background-color: lightgreen;
}
.hero img {
  width: 250px;
  height: 250px;
}
.hero h5 {
  margin-top: 100px;
}

/* scroll indicator */

.scroll-indicator-wrapper {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.scroll-indicator {
  width: 25px;
  height: 40px;
  border: 2px solid white;
  border-radius: 20px;
  margin: auto;
  position: relative;
}

.scroll-indicator::after {
  content: "";
  width: 4px;
  height: 8px;
  background: white;
  position: absolute;
  left: 50%;
  top: 8px;
  transform: translateX(-50%);
  border-radius: 2px;
  animation: scrollAnim 1.5s infinite;
}

@keyframes scrollAnim {
  0% {
    opacity: 0;
    top: 8px;
  }
  50% {
    opacity: 1;
    top: 16px;
  }
  100% {
    opacity: 0;
    top: 24px;
  }
}

/* quote */

.quote {
  padding: 80px 0;
  background-color: brown;
  height: 100vh;
}

/* MOBILE */
@media (max-width: 768px) {
  .left-panel {
    display: none;
  }

  .right-panel {
    flex: 1;
  }

  .landing-top .maaf {
    font-size: 10px;
    font-style: italic;
  }
}
