* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  background-image: url(image/body-bg.png);
}

:root {
  --primary: #740a03;
  --secondary: #c3110c;
  --dark: #280905;
  --senja: #e6501b;
  --yellow: #ffd400;

  --swash: "Berkshire swash";
}

/* landing-top */

.landing-top {
  position: fixed;
  left: 250px;
  right: 250px;
  /* width: calc(100% - 500px);
  margin: auto; */
  height: 100vh;
  display: flex;
  align-items: center;
  /* position: relative; */
  background-image: url(image/bg-landingpage.jpg);
  background-position: 0 -70px;
  background-size: cover;
  color: white;
  transition: 3s;
  z-index: 10;
  overflow: hidden;
}

.landing-top .nama-pengantin {
  font-family: var(--swash);
  font-size: 35px;
  color: var(--yellow);
}

.landing-top.hide {
  transform: translateY(-100vh);
}

.landing-top > * {
  z-index: 1;
}

.landing-top h6 {
  margin-top: 280px;
}

.landing-top::before {
  content: "";
  background-image: linear-gradient(to top, rgba(116, 10, 3, 1), rgba(116, 10, 3, 0));
  bottom: 0;
  position: absolute;
  display: block;
  height: 80%;
  width: 100%;
}

.floral-wrapper .top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.floral-wrapper .bottom {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

.floral-wrapper img {
  width: 100%;
  height: 120px;
}

.landing-top button {
  padding: 5px 15px;
  border-radius: 10px;
  background-color: var(--yellow);
  color: black;
}

/* landing bottom */
.landing-bottom {
  width: calc(100% - 500px);
  margin: auto;
  background-image: radial-gradient(circle at top left, var(--primary), var(--senja));
  transition: 2s;
  z-index: 2;
  overflow: hidden;
  position: relative;
}

/* hero */

.hero {
  background-color: black;
  height: 100vh;
  transition: 2s ease-in-out;
  color: white;
  display: flex;
  overflow: hidden;
  align-items: center;
  position: relative;
  background-image: radial-gradient(circle at top left, var(--primary), var(--dark));
}

.hero .nama-pengantin {
  font-family: var(--swash);
  font-size: 40px;
  color: var(--yellow);
}

.hero .image-wrapper {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin: auto;
  z-index: 2;
}

.hero .bingkai {
  position: relative;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}

.hero .bg-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%; /* sesuaikan agar pas */
  height: 85%;
  border-radius: 40px;
  object-fit: cover;
  z-index: 1;
  transition: all 3s ease;
}

.hero .bg-hero.fade-in {
  opacity: 0.1;
}
.hero .bg-hero.fade-out {
  opacity: 0.7;
}

/* quote */

.quote {
  padding: 80px 0;
  background-image: radial-gradient(circle at top left, var(--primary), var(--dark));
  color: white;
}

.quote .header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  color: white;
  font-family: var(--swash);
  margin-bottom: 15px;
}

.quote .header h1 {
  font-size: 55px;
}

.quote .header .line {
  width: 2px;
  height: 50px;
  background-color: white;
}

.quote span {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}

/* groom-bride */
.groom-bride {
  padding: 120px 0;
  background-color: var(--primary);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.groom-bride .image-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: auto;
  z-index: 2;
}

.groom-bride .bingkai {
  position: relative;
  width: 100%;
  z-index: 2;

  pointer-events: none;
}

.groom-bride .poto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  border-radius: 30px;
  object-fit: cover;
  z-index: 1;
}

.groom-bride span i {
  font-size: 45px;
  color: var(--yellow);
}
.groom-bride .groom .man,
.groom-bride .bride .woman {
  font-size: 25px;
  font-family: var(--swash);
  color: var(--yellow);
}

.groom-bride .floral-wrapper img {
  z-index: 2;
}

.groom-bride .content > * {
  position: relative;
  z-index: 2;
}

.groom-bride .content {
  background-image: radial-gradient(circle at top left, var(--primary), var(--senja));
  padding: 20px 0;
  border-radius: 20px;
  aspect-ratio: 1;
  color: white;
}

/* acara */

.acara {
  padding: 80px 0;
  background-image: radial-gradient(circle at top left, var(--primary), var(--dark));
  position: relative;
  font-family: "Poppins";
  z-index: 1;
  overflow: hidden;
}

.acara .akad-nikah {
  height: 50vh;
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 20px;
  transition: 1s linear;
}

.acara .akad-nikah::before {
  position: absolute;
  inset: 0;
  content: "";
  background-color: var(--primary);
  opacity: 0.7;
  z-index: -1;
}
.acara .resepsi {
  height: 50vh;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  z-index: 1;
  color: white;
}

.acara .resepsi::before {
  position: absolute;
  inset: 0;
  content: "";
  background-color: var(--primary);
  opacity: 0.7;
  z-index: -1;
}
.acara .live-streaming {
  height: 50vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 20px;
  color: white;
}

.acara .live-streaming::before {
  position: absolute;
  inset: 0;
  content: "";
  background-color: var(--primary);
  opacity: 0.7;
  z-index: -1;
}

.acara .floral-wrapper img {
  z-index: 2;
  width: 100%;
}

.acara .akad-nikah .content h3,
.acara .resepsi .content h3,
.acara .live-streaming .content h3 {
  font-family: var(--swash);
  font-size: 30px;
}
.acara .waktu {
  display: flex;
  margin: auto;
  width: 50%;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.acara .waktu .line,
.acara .waktu .line,
.acara .waktu .line {
  width: 2px;
  background-color: white;
  height: 50px;
}

.acara .tanggal-wrapper {
  margin-top: -10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.acara .waktu .tgl {
  margin-top: 10px;
  font-family: "Poppins";
  font-size: 35px;
}

.acara .waktu .th {
  margin-top: -27px;
}
/* landing bottom */

.landing-bottom {
  margin: auto;
  width: calc(100% - 500px);
  position: relative;
}

.acara .akad-nikah a,
.acara .resepsi a,
.acara .live-streaming a {
  padding: 6px 15px;
  border-radius: 10px;
  background-color: black;
  text-decoration: none;
  color: white;
  border: 4px solid white;
  display: inline-block;
  margin-top: 5px;
}

/* love-story */
.love-story {
  padding: 70px 70px;
  background: var(--primary);
  position: relative;
  overflow: hidden;
  color: white;
  z-index: 1;
}

.love-story .content {
  position: relative;
  padding: 40px 0;
  color: white;
  z-index: 2;
}

.love-story .floral-wrapper {
  position: absolute;
  content: "";
  inset: 0;
}
.love-story .content::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: var(--dark);
  padding: 40px 0;
  opacity: 0.5;
  z-index: -1;
}

.love-story .floral-wrapper img {
  z-index: 4;
}

.love-story h2 {
  font-size: 32px;
  font-family: "Berkshire Swash";
}

.timeline {
  position: relative;
  max-width: 900px;
  margin: auto;
  padding-left: 40px;
  --line-height: 0px;
}

/* Garis vertikal */
.timeline::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  width: 5px;
  height: var(--line-height);
  background: var(--yellow);
  transition: height 0.2s ease-out;
  z-index: 1;
}
.timeline::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  width: 3px;
  height: 100%;
  background: var(--secondary);
}

/* Item */
.timeline-item {
  position: relative;
  margin-bottom: 80px;
  margin-left: 10px;
  color: white;
  background-color: var(--secondary);
}

.timeline-content {
  background-color: var(--light) !important;
}

.timeline-content .text .date {
  color: white;
}

.timeline-item .speech-buble::after {
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  top: 13px;
  left: -12px;
  transform: rotate(45deg);

  background-color: var(--secondary);
}

/* Dot */
.timeline-dot {
  position: absolute;
  left: -37px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 2;
  transition: all 5s;
  font-size: 35px;
}

.timeline-dot i {
  color: var(--yellow);
  transition: all 0.4s ease;
}

.timeline-dot.active i {
  color: var(--secondary);
}

/* Content kanan */
.timeline-content {
  display: flex;
  gap: 30px;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

/* Image */
.timeline-content .image img {
  width: 250px;
  height: 300px;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 50px;
}

/* Text */
.timeline-content .text h4 {
  margin-bottom: 5px;
}

.timeline-content .date {
  font-size: 14px;
  color: black;
  display: block;
  margin-bottom: 10px;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Galery */

.galery {
  position: relative;
  overflow: hidden;
  padding: 50px 70px;
  background-image: radial-gradient(circle at top left, var(--primary), var(--dark));
  z-index: 1;
}

.galery .header {
  font-size: 50px;
  font-family: "Berkshire Swash";
  color: white;
  padding-top: 40px;
}

.galery .content {
  padding: 30px 20px;
  border-radius: 15px;
  position: relative;
}

.galery .content img {
  margin-top: 10px;
}

.galery .content::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: var(--light);
  padding: 40px 0;
  opacity: 0.6;
  z-index: -1;
  border-radius: 15px;
}
.galery a img {
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
}

.galery .satu {
  display: none;
}

.galery iframe {
  border-radius: 20px;
}

/* wedding-gift */
.gift {
  padding: 100px 0;
  position: relative;
  background-image: url(image/2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 2;
  overflow: hidden;
}
.gift > * {
  position: relative;
  z-index: 2;
}

.gift::after {
  position: absolute;
  content: "";
  inset: 0;
  background-image: var(--bgImage);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  transition: 2s;
}

.gift .card-body {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.gift.fade-out::after {
  opacity: 0.2;
}
.gift.fade-in::after {
  opacity: 0.8;
}
.gift::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}

.gift .bri {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins";
  text-align: start;
}
.gift .bri span {
  font-family: "Poppins";
}
.gift .bri img {
  width: 70px;
  height: 30px;
}

.gift .bri span {
  color: black;
}
.gift .bri h3 {
  color: black;
}

.gift .rek {
  padding: 10px 100px;
  border: 2px black solid !important;
  border-radius: 10px;
}

.gift .line {
  width: 100%;
  height: 4px;
  background-color: var(--dark);
  margin-top: 7px;
}
.gift button {
  font-size: 12px;
  background-color: var(--primary);
  color: white;
}

.gift .card {
  opacity: 0.7;
}

/* base */
.collapse {
  overflow: hidden;
}

/* saat proses buka & tutup */
.collapsing {
  transition:
    height 5s ease,
    opacity 5s ease,
    transform 6s ease-in-out;
}

/* kondisi tertutup */
.collapse:not(.show) {
  opacity: 0;
  transform: translateY(-20px);
}

/* kondisi terbuka */
.collapse.show {
  opacity: 1;
  transform: translateY(0);
}

.audio-icon .icon-wrapper {
  mix-blend-mode: difference;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Congrat */

.congrat {
  padding: 80px 50px;
  position: relative;
  overflow: hidden;
  background-image: radial-gradient(circle at top left, var(--primary), var(--dark));
}

.congrat .content {
  padding: 50px 0;
  position: relative;
  z-index: 1;
}

.congrat .content::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: var(--light);
  padding: 40px 0;
  opacity: 0.6;
  border-radius: 15px;
  z-index: -1;
}

.congrat h2 {
  font-family: "Poppins";
  font-size: 30px;
  font-style: italic;
  color: #222;
}
.congrat p {
  font-family: "Poppins";
  color: #888;
}

.congrat input,
.congrat textarea {
  font-family: "Poppins";
  font-size: 15px;
  padding: 15px 15px;
  color: grey;
}

.congrat .kotak-pesan {
  height: 60vh;
  margin-top: 20px;
  background: #f0fafa;
  overflow-y: scroll;
  padding: 20px 20px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.congrat .kotak-pesan .text-pesan {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 30px;
}
.congrat .kotak-pesan .text-pesan p {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.congrat .kotak-pesan .text-pesan span {
  font-family: "Poppins";
  color: grey;
}

/* rsvp */

.rsvp {
  padding: 80px 50px;
  position: relative;
  overflow: hidden;
  background-color: var(--primary);
  z-index: 1;
}

.rsvp .floral-wrapper img {
  z-index: 2;
}

.rsvp .content {
  position: relative;
  padding: 30px 0;
  border-radius: 20px;
  z-index: 2;
}
.rsvp .content::before {
  position: absolute;
  inset: 0;
  content: "";
  background-color: #fff7cd;
  padding: 30px 0;
  border-radius: 20px;
  opacity: 0.7;
  z-index: -1;
}

.rsvp .floral-wrapper img {
  z-index: 2;
}

.rsvp h3 {
  font-family: "Poppins";
  font-size: 30px;
  font-style: italic;
}
.rsvp p {
  font-family: "Poppins";
  color: gray;
}

.rsvp label {
  font-family: "Poppins";
  font-weight: bold;
}

.rsvp input,
.rsvp select {
  padding: 10px 10px;
}

/* thankyou */

.thankyou {
  padding: 70px 50px;
  position: relative;
  color: black !important;
  z-index: 1;
  overflow: hidden;
  background-image: radial-gradient(circle at top left, var(--primary), var(--dark));
}

.thankyou .floral-wrapper img {
  z-index: 3;
}

.thankyou > * {
  position: relative;
  z-index: 2;
}

.thankyou .content {
  position: relative;
  padding: 50px 0;
  border-radius: 20px;
  color: black !important;
}

.thankyou .content::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: var(--light);
  opacity: 0.7;
  z-index: -1;
  border-radius: 20px;
}

.thankyou h3 {
  font-size: 30px;
  font-family: "Poppins";
  font-style: italic;
  margin-bottom: 20px;
  color: black;
}
.thankyou i {
  color: red;
}

.thankyou .nama_pengantin {
  font-size: 45px;
}

.thankyou p {
  color: black;
}

.thankyou .medsos {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 20px;
}
.thankyou .medsos i {
  color: black;
}

.thankyou .floral-wrapper {
  position: absolute;
  inset: 0;
}

/* audio icon */
.audio-icon {
  position: fixed;
  bottom: 10px;
  right: 20px;
  display: flex;
  place-content: center;
  transform-origin: center;
  font-size: 40px;
  z-index: 12;
  line-height: 0;
  animation: rotating 2s infinite linear;
  cursor: pointer;
}

/* responsive */

@media (max-width: 578px) {
  .landing-top {
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-position: top;
    background-size: cover;
  }

  .landing-top h6 {
    margin-top: 200px;
  }

  .landing-top .floral-wrapper img {
    height: 100px;
  }

  .landing-bottom {
    width: 100%;
  }

  /* hero */

  .hero .image-wrapper {
    width: 270px;
    height: 270px;
  }

  /* groom-bride */

  .groom-bride .image-wrapper {
    position: relative;
    width: 230px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
  }

  .groom-bride .bingkai {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .groom-bride .poto {
    width: 85%;
    height: 85%;
    border-radius: 20px;
  }

  .groom-bride .woman,
  .groom-bride .man {
    font-size: 20px;
    font-weight: bold;
  }

  .groom-bride i {
    font-size: 35px;
    color: crimson;
  }

  .groom-bride .floral-wrapper img {
    width: 100%;
  }

  /* acara */

  .acara .waktu {
    width: 100%;
  }

  .acara .floral-wrapper img {
    width: 100%;
  }

  /* love story */

  .love-story {
    padding: 50px 10px;
  }

  .timeline {
    padding-left: 40px;
  }

  .timeline-content {
    flex-direction: column;
    text-align: center;
    padding: 10px 10px !important;
  }

  .timeline-item .timeline-content .text {
    margin-top: 80px !important;
  }

  .timeline-content .image {
    width: 100%;
    height: 200px !important;
  }

  .timeline::after {
    height: 100%;
  }

  .love-story .content {
    position: relative;
    padding: 30px 10px;
  }

  .love-story .floral-wrapper img {
    width: 100%;
  }

  /* galery */

  .galery {
    padding: 50px 10px;
    overflow: hidden;
  }

  .galery .content img {
    margin-top: -8px;
  }
  .galery h3 {
    font-size: 37px !important;
    margin-bottom: 10px;
  }
  .galery iframe {
    width: 100%;
    height: 250px;
  }

  .galery .floral-wrapper img {
    width: 100%;
  }

  .galery a img {
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
  }
  .galery .satu {
    display: block;
  }

  .galery .content .vidio {
    margin-bottom: 60px !important;
  }

  /* gift */

  .gift {
    overflow-x: hidden;
  }
  .gift .rek {
    padding: 10px 15px;
  }
  .gift .card button {
    padding: 3px 7px;
  }

  /* congrat */

  .congrat {
    margin-top: 50px;
    padding: 50px 15px;
    overflow-x: hidden;
  }

  .congrat .floral-wrapper img {
    width: 100%;
  }

  /* rsvp */

  .rsvp {
    padding: 50px 15px;
  }

  .rsvp .floral-wrapper img {
    width: 100%;
  }

  /* thankyou */
  .thankyou .nama_pengantin {
    font-size: 35px;
  }

  .thankyou i {
    font-size: 25px;
  }

  .thankyou .medsos i {
    font-size: 20px;
  }

  .thankyou {
    padding: 40px 20px;
  }
  .thankyou img {
    width: 300px;
  }
}
