* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  padding-top: 70px;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  color: white;
}

.navbar .navbar-brand {
  font-family: "Ballet";
  font-size: 60px;
  font-weight: bolder;
}

.nav-item button {
  border: 2px solid white;
  animation: pulse 4s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.03);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.nav-item button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.hero {
  height: 100vh;
  margin-top: -30px;
  position: relative;
  --bg-hero: url("../asset/image/utama/2.png");
  overflow: hidden;
}

.hero > * {
  position: relative;
  z-index: 3;
}

.hero::before {
  position: absolute;
  content: "";
  inset: 0;
  background-image: var(--bg-hero);
  background-position: 0 -100px;
  background-size: cover;
  transition: 2s;
  animation: scaling 25s infinite ease-in-out;
}
@keyframes scaling {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.hero::after {
  position: absolute;
  content: "";
  inset: 0;
  background-image: linear-gradient(to top, rgba(67, 0, 70, 1) 0%, rgba(67, 0, 70, 0.9) 25%, rgba(67, 0, 70, 0.7) 50%, rgba(67, 0, 70, 0.5) 75%, rgba(67, 0, 70, 0) 100%);
  z-index: 1;
}

.hero .tombol {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: auto;
  margin-top: 200px;
}
.hero .tombol a {
  text-decoration: none;
  color: white;
}

.hero .tagline {
  margin-top: 200px;
  color: aliceblue;
}

.hero .tagline p {
  font-style: italic;
  font-weight: bolder;
  color: white;
}
.hero .tagline h1 {
  font-weight: bolder;
  color: black;
}

.hero button {
  border: 2px solid white;
}

.template {
  padding: 50px 0;
}

.template .header h2 {
  font-size: 30px;
  color: rgba(67, 0, 70, 1);
  font-weight: bold;
}
.template .header p {
  color: rgba(67, 0, 70, 1);
}
.template .header span {
  color: gray;
  font-style: italic;
  font-size: 13px;
}

.template img {
  background-color: antiquewhite;
}

.template .card {
  background-color: #f1e6c9;
  margin-top: 20px;
  color: #6e026f;
}
.template .card-text {
  color: #6e026f;
}

/* advantages */
.advantages {
  padding: 50px 0;
  background-color: #fffbf1;
  color: #6e026f;
}

.advantages .header {
  text-align: center;
  margin-bottom: 50px;
  width: 300px;
  margin: auto;
}
.advantages .header h4 {
  font-weight: bold;
  margin-bottom: 20px;
}

.advantages .header ul li {
  font-weight: lighter;
  margin-bottom: 20px !important;
  display: inline-block;
}

/* fitur */

.fitur {
  padding: 60px 0;
  background-color: #fffbf1;
}

.fitur .content {
  background-color: #6e026f;
  color: white;
  padding: 20px 10px;
  border-radius: 20px;
}

.fitur .content h4 {
  text-align: center;
}

.fitur ul li {
  list-style: none;
  margin-bottom: 5px;
  margin-left: -15px;
}

.pesan {
  padding: 60px 20px;
  color: #6e026f;
}

.pesan ul li {
  list-style: none;
  margin-bottom: 10px;
}
.pesan ul li span {
  font-weight: bold;
}

.pesan .content {
  padding: 20px 10px;
  border: 2px solid #6e026f;
  border-radius: 20px;
}

.pesan h4,
.pesan p {
  text-align: center;
  font-weight: bold;
}

/* footer */

footer {
  padding: 50px 0;
  background-color: rgba(67, 0, 70, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

footer a {
  color: var(--primary);
}

footer .medsos {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

/* responsive */

@media (max-width: 576px) {
  .hero {
    overflow-x: hidden;
  }
  .hero::before {
    background-position: center;
    overflow-x: hidden;
  }
  .hero .tombol {
    width: 180px;
    font-size: 12px;
    flex-direction: column;
    margin-top: 180px;
  }

  .hero .tagline p {
    color: black;
    font-style: italic;
    font-weight: bolder;
    font-size: 12px;
  }
  .navbar .navbar-brand {
    font-family: "Ballet";
    font-size: 40px;
    font-weight: bolder;
  }

  .nav-item button {
    border: 2px solid white;
  }

  .nav-item button a {
    text-decoration: none;
    color: white;
    font-size: 13px;
  }

  .custom-offcanvas {
    width: 80vw !important;
  }
  .template .card a {
    margin-top: 10px;
    display: block;
  }
  .template .header h2 {
    font-size: 30px;
    color: rgba(67, 0, 70, 1);
    font-weight: bold;
  }
  .template .header p {
    color: rgba(67, 0, 70, 1);
    font-size: 14px;
  }
  .template .header span {
    color: gray;
    font-style: italic;
    font-size: 10px;
  }
}
