* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.split-layout {
  display: flex;
  /* height: 100vh; */
}

/* left panel */

.left-panel {
  flex: 2;
  background-color: aqua;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.scroll-down {
  position: absolute;
  bottom: 40px;
  left: 33%;
  transform: translate(-50%, -300px);
  font-size: 30px;
  color: yellow;
  opacity: 0;
  transition: all 0.8s ease-in-out;
  pointer-events: none;
}

.scroll-down.muncul {
  transform: translate(-50%, 0);
  animation: bounce 1.5s infinite 0.8s;
  opacity: 1;
}

@keyframes bounce {
  0%,
  100% {
    transform: translate(-50%, 0);
    opacity: 0.3;
  }
  50% {
    transform: translate(-50%, 10px);
    opacity: 0.3;
  }
}

/* right-panel */

.right-panel {
  flex: 1;
  background: white;
  height: 100vh;
  overflow-y: hidden; /* LOCK awal */
  position: relative;
}

/* landing top */
.landing-top {
  position: absolute;
  inset: 0;
  background-color: blue;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 3s;
}

.landing-top.hide {
  transform: translateY(-100vh);
}
/* hero */
.hero {
  text-align: center;
  margin-bottom: 60px;
  height: 100vh;
  background-color: lightgreen;
  display: flex;
  align-items: center;
}

.scroll-indicator-wrapper {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  width: 20px;
  height: 30px;
  background-color: yellowgreen;
  border: 1px solid grey;
  border-radius: 6px;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.scroll-indicator {
  animation: bouncing 1s infinite linear;
  transition: 1s;
  border: 1px solid grey;
  margin-right: -18px;
  border-radius: 6px;
  background-color: violet;
}

.scroll-indicator-wrapper.hide {
  display: none;
}

@keyframes bouncing {
  0%,
  100% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, 10px);
  }
}

/* quote */

.quote {
  padding: 70px 0;
}

.quote .header {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20pxs;
}

.quote .header .line {
  width: 2px;
  height: 50px;
  background-color: black;
}

/* responsive */

@media (max-width: 768px) {
  .left-panel {
    display: none;
  }

  .right-panel {
    flex: 1;
  }
}
