* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.split-layout {
  display: flex;
  height: 100vh;
}

/* left panel */

.left-panel {
  flex: 2;
  background-color: aqua;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.scroll-down {
  position: absolute;
  bottom: 40px;
  left: 33%;
  transform: translate(-50%, -300px);
  font-size: 30px;
  color: yellow;
  opacity: 0;
  transition: all 0.8s ease-in-out;
  pointer-events: none;
}

.scroll-down.muncul {
  transform: translate(-50%, 0);
  animation: bounce 1.5s infinite 0.8s;
  opacity: 1;
}

@keyframes bounce {
  0%,
  100% {
    transform: translate(-50%, 0);
    opacity: 0.3;
  }
  50% {
    transform: translate(-50%, 10px);
    opacity: 0.3;
  }
}

/* right-panel */

.right-panel {
  flex: 1;
  background: white;
  overflow-y: hidden; /* LOCK awal */
  position: relative;
}

/* landing top */
.landing-top {
  position: absolute;
  inset: 0;
  background-color: blue;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 3s;
}

.landing-top.hide {
  transform: translateY(-100vh);
}
/* hero */
.hero {
  text-align: center;
  margin-bottom: 60px;
  height: 100vh;
  background-color: lightgreen;
  display: flex;
  align-items: center;
}

.scroll-indicator-wrapper {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  width: 20px;
  height: 30px;
  background-color: yellowgreen;
  border: 1px solid grey;
  border-radius: 6px;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.scroll-indicator {
  animation: bouncing 1s infinite linear;
  transition: 1s;
  border: 1px solid grey;
  margin-right: -18px;
  border-radius: 6px;
  background-color: violet;
}

.scroll-indicator-wrapper.hide {
  display: none;
}

@keyframes bouncing {
  0%,
  100% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, 10px);
  }
}

/* quote */

.quote {
  padding: 70px 0;
}

.quote .header {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20pxs;
}

.quote .header .line {
  width: 2px;
  height: 50px;
  background-color: black;
}

/* love-story */
.love-story {
  padding: 70px 20px;
  background: burlywood;
  position: relative;
  overflow: hidden;
  color: black;
  z-index: 1;
}

.love-story .content {
  position: relative;
  padding: 40px 10px;
  color: black;
  z-index: 2;
}

.love-story .floral-wrapper {
  position: absolute;
  content: "";
  inset: 0;
}
.love-story .content::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: purple;
  padding: 40px 0;
  opacity: 0.5;
  z-index: -1;
}

.love-story .floral-wrapper img {
  z-index: 4;
}

.love-story h2 {
  font-size: 32px;
  font-family: "Berkshire Swash";
}

.timeline {
  position: relative;
  max-width: 500px;
  margin: auto;
  padding-left: 39px;
  --line-height: 0px;
}

/* Garis vertikal */
.timeline::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  width: 5px;
  height: var(--line-height);
  background: white;
  transition: height 0.2s ease-out;
  z-index: 1;
}
.timeline::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  width: 3px;
  height: 100%;
  background: red;
}

/* Item */
.timeline-item {
  position: relative;
  margin-bottom: 80px;
  margin-left: 10px;
}

.timeline-content .text .date {
  color: white;
}

.timeline-item .speech-buble::after {
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  top: 13px;
  left: -12px;
  transform: rotate(45deg);

  background-color: white;
}

/* Dot */
.timeline-dot {
  position: absolute;
  left: -37px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 2;
  transition: all 5s;
  font-size: 35px;
}

.timeline-dot i {
  color: white;
  transition: all 0.4s ease;
}

.timeline-dot.active i {
  color: white;
}

/* Content kanan */
.timeline-content {
  color: black;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

/* Image */
.timeline-content .image img {
  width: 250px;
  height: 300px;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 10px;
}

/* Text */
.timeline-content .text h4 {
  margin-bottom: 5px;
}

.timeline-content .text .date {
  font-size: 14px;
  color: black;
  display: block;
  margin-bottom: 5px;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* countdown */
.simply-countdown-circle {
  --sc-circle-primary: #fff;
  --sc-circle-secondary: #fff;
  --sc-circle-bg: #bcd9a2;
  --sc-circle-text: #fff;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  font-family: "Inter", sans-serif;
}

.simply-countdown-circle > .simply-section {
  position: relative;
  background-color: #bcd9a2;
  width: 90px;
  height: 90px;
  border: 2px solid #bcd9a2;
  padding: 1rem;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border-radius: 50%; */
  /* background: linear-gradient(45deg, var(--sc-circle-primary), var(--sc-circle-secondary)); */
  /* box-shadow: 0 0 25px -5px var(--sc-circle-primary); */
  animation: pulse-circle 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.simply-countdown-circle > .simply-section::before {
  content: "";
  position: absolute;
  /* inset: 7px; */
  left: 7px;
  right: 7px;
  bottom: 7px;
  top: 0;
  border-radius: 15px;
  background: var(--sc-circle-bg);
  z-index: 0;
}

.simply-countdown-circle > .simply-section > div {
  position: relative;
  z-index: 1;
  color: var(--sc-circle-text);
  text-align: center;
}

.simply-countdown-circle .simply-amount {
  display: block;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1;
  background: linear-gradient(to right, var(--sc-circle-primary), var(--sc-circle-secondary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.simply-countdown-circle .simply-word {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 0.8;
}

@keyframes pulse-circle {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.98);
    opacity: 0.9;
  }
}

/* responsive */

@media (max-width: 768px) {
  .left-panel {
    display: none;
  }

  .right-panel {
    flex: 1;
  }

  /* countdown */
  .simply-countdown-circle {
    gap: 0.9rem; /* kecilkan jarak antar lingkaran */
  }

  .simply-countdown-circle > .simply-section {
    width: 67px;
    height: 67px;
    padding: 0.8rem;
  }

  .simply-countdown-circle .simply-amount {
    font-size: 1rem;
  }

  .simply-countdown-circle .simply-word {
    font-size: 0.55rem;
  }
}

/* batas */

.simply-countdown {
  --sc-circle-primary: #fff;
  --sc-circle-secondary: #fff;
  /* --sc-circle-bg: #ff0087; */
  --sc-circle-text: #fff;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  font-family: "Inter", sans-serif;
}

.simply-countdown > .simply-section {
  position: relative;
  width: 100px;
  height: 100px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  /* background: linear-gradient(45deg, var(--sc-circle-primary), var(--sc-circle-secondary)); */
  /* box-shadow: 0 0 25px -5px var(--sc-circle-primary); */
  animation: pulse-circle 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.simply-countdown > .simply-section::before {
  content: "";
  position: absolute;
  inset: 6px;
  border-radius: 50%;
  background: var(--sc-circle-bg);
  z-index: 0;
}

.simply-countdown > .simply-section > div {
  position: relative;
  z-index: 1;
  color: var(--sc-circle-text);
  text-align: center;
}

.simply-countdown .simply-amount {
  display: block;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1;
  background: linear-gradient(to right, var(--sc-circle-primary), var(--sc-circle-secondary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.simply-countdown .simply-word {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 0.8;
}

@keyframes pulse-circle {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.98);
    opacity: 0.9;
  }
}
