* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sacramento: "Sacramento";
  --swash: "Berkshire Swash";
  --poppins: "Poppins";
  --primary: #0c7779;
  --secondary: #005461;
  --blue: #3bc1a8;
  --bluedark: #249e94;
}
body {
  background-image: url(image/body-bg.png);
  overflow: hidden;
}

.landing-top {
  position: fixed;
  display: flex;
  left: 250px;
  right: 250px;
  align-items: center;
  height: 100vh;
  background-image: url(image/bg-landingtop.jpg);
  background-size: cover;
  background-position: center;
  transition: 2s;
  z-index: 10;
  overflow: hidden;
}

.landing-top h6 {
  margin-top: 300px;
}

.landing-top::before {
  content: "";
  background-image: linear-gradient(to top, rgba(0, 84, 97, 1) 0%, rgba(0, 84, 97, 0));
  bottom: 0;
  position: absolute;
  display: block;
  height: 80%;
  width: 100%;
  z-index: -1;
}

.landing-top.hide {
  transform: translateY(-100vh);
  opacity: 0.3;
}

.landing-top .content {
  color: white;
}

.landing-top .nama-pengantin {
  font-family: var(--swash);
  font-size: 45px;
  letter-spacing: 7px;
}

.landing-top button {
  padding: 5px 15px;
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.floral-wrapper .bottom-satu {
  position: absolute;
  bottom: 0;
  left: 0;
}
.floral-wrapper .bottom-dua {
  position: absolute;
  bottom: 0;
  left: 30%;
}
.floral-wrapper .bottom-tiga {
  position: absolute;
  bottom: 0;
  left: 60%;
}
.floral-wrapper .bottom-empat {
  position: absolute;
  bottom: 0;
  right: 0;
}
.floral-wrapper .kupu-satu {
  position: absolute;
  bottom: 25%;
  left: 40px;
}
.floral-wrapper .kupu-dua {
  position: absolute;
  bottom: 25%;
  right: 40px;
}

.floral-wrapper .bottom-satu img,
.floral-wrapper .bottom-dua img,
.floral-wrapper .bottom-tiga img,
.floral-wrapper .bottom-empat img {
  transition: 3s;
  animation: rotating 10s infinite linear;
  transform-origin: bottom center;
}

@keyframes rotating {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0);
  }
}

.floral-wrapper .bottom-satu img {
  animation-delay: 0;
}
.floral-wrapper .bottom-dua img {
  animation-delay: 2s;
}
.floral-wrapper .bottom-tiga img {
  animation-delay: 4s;
}
.floral-wrapper .bottom-empat img {
  animation-delay: 6s;
}

/* landing bottom */

.landing-bottom {
  position: relative;
  background-color: red;
  transition: 2s;
  width: calc(100% - 500px);
  margin: auto;
  overflow: hidden;
}

/* hero */

.hero {
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: black;
  color: white;
  height: 100vh;
  margin: auto;
  background-image: radial-gradient(circle at top left, var(--secondary), var(--blue));
}

.hero h5 {
  margin-top: 30px;
}

.hero .image-wrapper {
  width: 280px;
  height: 330px;
  --bg: url("image/9.jpg");
  border: 4px solid white;
  border-radius: 20px;
  margin: auto;
  position: relative;
  overflow: hidden;
  transition: 2s;
}
.hero .nama-pengantin {
  font-family: var(--swash);
  font-size: 45px;
  letter-spacing: 7px;
}

.hero .image-wrapper img {
  width: 100%;
  height: 100%;
}

.hero .image-wrapper::before {
  position: absolute;
  content: "";
  inset: 0;
  background-image: var(--bg);
  background-position: center;
  background-size: cover;
  transition: all 3s;
}

.hero .image-wrapper.fade-in::before {
  opacity: 0.05;
}
.hero .image-wrapper.fade-out::before {
  opacity: 0.7;
}

/* quote */

.quote {
  padding: 80px 0;
  background-image: linear-gradient(to top, var(--blue), white);
  color: black;
  position: relative;
}

.quote .header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-family: var(--swash);
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 20px;
}

.quote .kupu-satu {
  position: absolute;
  width: 100%;
  top: 40px;
  right: -10px;
  animation: flying 20s infinite linear;
}

.quote span {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}

/* groom-bride */
.groom-bride {
  padding: 30px 0;
  padding-bottom: 100px;
  background-image: linear-gradient(to top, var(--blue), white);
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.groom-bride .header h3 {
  font-family: "Ballet";
  font-size: 30px;
  color: var(--primary);
}
.groom-bride .header span {
  font-family: var(--swash);
  font-size: 30px;
  color: black;
}

.groom-bride .groom img,
.groom-bride .bride img {
  height: 300px;
  width: 300px;
  border-radius: 20px;
}
.groom-bride .image-wrapper {
  width: 300px;
  height: 300px;
  border: 1px solid var(--blue);
  border-radius: 20px;
  overflow: hidden;
  margin: auto;
}

.groom-bride span i {
  font-size: 45px;
  color: var(--primary);
}
.groom-bride .groom .man,
.groom-bride .bride .woman {
  font-size: 25px;
  font-family: var(--swash);
  letter-spacing: 2px;
}

.groom-bride .floral-wrapper img {
  z-index: 2;
}

.groom-bride .content {
  background-color: white;
  padding: 20px 0;
  padding-bottom: 40px;
  border-radius: 20px;
  aspect-ratio: 1;
  opacity: 0.7;
}

/* acara */

.acara {
  padding: 80px 0;
  background-image: linear-gradient(to top, var(--blue), white);
  position: relative;
  font-family: "Poppins";
  z-index: 1;
  overflow: hidden;
}

.acara .akad-nikah {
  height: 50vh;
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 20px;
  transition: 1s linear;
}

.acara .akad-nikah::before {
  position: absolute;
  inset: 0;
  content: "";
  background-color: var(--primary);
  opacity: 0.7;
  z-index: -1;
}
.acara .resepsi {
  height: 50vh;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  z-index: 1;
  color: white;
}

.acara .resepsi::before {
  position: absolute;
  inset: 0;
  content: "";
  background-color: var(--primary);
  opacity: 0.7;
  z-index: -1;
}
.acara .live-streaming {
  height: 50vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 20px;
  color: white;
}

.acara .live-streaming::before {
  position: absolute;
  inset: 0;
  content: "";
  background-color: var(--primary);
  opacity: 0.7;
  z-index: -1;
}

.acara .floral-wrapper img {
  z-index: 2;
  width: 100%;
}

.acara .akad-nikah .content h3,
.acara .resepsi .content h3,
.acara .live-streaming .content h3 {
  font-family: var(--swash);
  font-size: 30px;
}
.acara .waktu {
  display: flex;
  margin: auto;
  width: 50%;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.acara .waktu .line,
.acara .waktu .line,
.acara .waktu .line {
  width: 2px;
  background-color: white;
  height: 50px;
}

.acara .tanggal-wrapper {
  margin-top: -10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.acara .waktu .tgl {
  margin-top: 10px;
  font-family: "Poppins";
  font-size: 35px;
}

.acara .waktu .th {
  margin-top: -27px;
}

.acara a {
  padding: 4px 10px;
  background-color: #fff;
  border: 4px solid black;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

/* love-story */
.love-story {
  padding: 70px 70px;
  background: var(--primary);
  position: relative;
  overflow: hidden;
  color: white;
  z-index: 1;
}

.love-story .content {
  position: relative;
  padding: 40px 0;
  color: white;
  z-index: 2;
}

.love-story .floral-wrapper {
  position: absolute;
  content: "";
  inset: 0;
}
.love-story .content::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: var(--dark);
  padding: 40px 0;
  opacity: 0.5;
  z-index: -1;
}

.love-story .floral-wrapper img {
  z-index: 4;
}

.love-story h2 {
  font-size: 32px;
  font-family: "Berkshire Swash";
}

.timeline {
  position: relative;
  max-width: 900px;
  margin: auto;
  padding-left: 40px;
  --line-height: 0px;
}

/* Garis vertikal */
.timeline::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  width: 5px;
  height: var(--line-height);
  background: var(--yellow);
  transition: height 0.2s ease-out;
  z-index: 1;
}
.timeline::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  width: 3px;
  height: 100%;
  background: var(--secondary);
}

/* Item */
.timeline-item {
  position: relative;
  margin-bottom: 80px;
  margin-left: 10px;
  color: white;
  background-color: var(--secondary);
}

.timeline-content {
  background-color: var(--light) !important;
}

.timeline-content .text .date {
  color: white;
}

.timeline-item .speech-buble::after {
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  top: 13px;
  left: -12px;
  transform: rotate(45deg);

  background-color: var(--secondary);
}

/* Dot */
.timeline-dot {
  position: absolute;
  left: -37px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 2;
  transition: all 5s;
  font-size: 35px;
}

.timeline-dot i {
  color: var(--yellow);
  transition: all 0.4s ease;
}

.timeline-dot.active i {
  color: var(--secondary);
}

/* Content kanan */
.timeline-content {
  display: flex;
  gap: 30px;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

/* Image */
.timeline-content .image img {
  width: 250px;
  height: 300px;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 50px;
}

/* Text */
.timeline-content .text h4 {
  margin-bottom: 5px;
}

.timeline-content .date {
  font-size: 14px;
  color: black;
  display: block;
  margin-bottom: 10px;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
/* aglery */

.galery {
  padding: 80px 0;
  background-image: linear-gradient(to top, var(--primary), white);
}

/* thumbnail carousel */
.thumb-wrapper {
  overflow-x: auto;
  padding-bottom: 10px;
}

.thumb-track {
  display: flex;
  gap: 10px;
  width: max-content;
}

.thumb-track img {
  width: 90px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

.thumb-track img:hover {
  opacity: 1;
  transform: scale(1.05);
}

.thumb-track img.active {
  opacity: 1;
  border: 2px solid white;
}

.thumb-track {
  animation: run 20s linear infinite;
}

@keyframes run {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.thumb-wrapper {
  overflow: hidden;
  width: 100%;
}

.carousel-inner {
  border-radius: 20px;
}
/* countdown */
.simply-countdown-circle {
  --sc-circle-primary: #fff;
  --sc-circle-secondary: #fff;
  /* --sc-circle-bg: #bcd9a2; */
  --sc-circle-text: #fff;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  font-family: "Inter", sans-serif;
}

.simply-countdown-circle > .simply-section {
  position: relative;
  background-color: var(--primary);
  width: 90px;
  height: 90px;
  border: 2px solid #bcd9a2;
  padding: 1rem;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border-radius: 50%; */
  /* background: linear-gradient(45deg, var(--sc-circle-primary), var(--sc-circle-secondary)); */
  /* box-shadow: 0 0 25px -5px var(--sc-circle-primary); */
  animation: pulse-circle 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.simply-countdown-circle > .simply-section::before {
  content: "";
  position: absolute;
  /* inset: 7px; */
  left: 7px;
  right: 7px;
  bottom: 7px;
  top: 0;
  border-radius: 15px;
  background: var(--sc-circle-bg);
  z-index: 0;
}

.simply-countdown-circle > .simply-section > div {
  position: relative;
  z-index: 1;
  color: var(--sc-circle-text);
  text-align: center;
}

.simply-countdown-circle .simply-amount {
  display: block;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1;
  background: linear-gradient(to right, var(--sc-circle-primary), var(--sc-circle-secondary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.simply-countdown-circle .simply-word {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 0.8;
}

@keyframes pulse-circle {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.98);
    opacity: 0.9;
  }
}
/* Responsive */

@media (max-width: 578px) {
  .landing-top {
    left: 0;
    right: 0;
    width: 100%;
    overflow-x: hidden;
    background-position: top;
  }

  .landing-top .content {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 2;
  }

  .landing-top .floral-wrapper {
    z-index: -1;
    pointer-events: none;
    position: absolute;
    inset: 0;
  }

  .landing-top h6 {
    margin-top: 350px;
  }

  .landing-top .nama-pengantin,
  .hero .nama-pengantin {
    font-size: 30px;
  }

  .landing-top .floral-wrapper img {
    width: 130px;
  }

  .landing-top .floral-wrapper .kupu-satu {
    position: absolute;
    bottom: 6%;
    left: 40px;
    z-index: -1;
  }
  .landing-top .floral-wrapper .kupu-dua {
    position: absolute;
    bottom: 7%;
    right: 40px;
    z-index: -1;
  }
  .floral-wrapper .kupu-satu {
    position: absolute;
    bottom: 14%;
    left: 40px;
  }
  .floral-wrapper .kupu-dua {
    position: absolute;
    bottom: 15%;
    right: 40px;
  }

  /* landing bottom */
  .landing-bottom {
    width: 100%;
    overflow-x: hidden;
  }

  /* hero */

  .hero .floral-wrapper img {
    width: 90px;
  }

  /* groom-bride */
  .groom-bride .image-wrapper {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    border: 4px solid var(--blue);
    overflow: hidden;
  }

  .groom-bride .groom img,
  .groom-bride .bride img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
  }

  .groom-bride img {
    width: 100px;
  }

  .groom-bride .woman,
  .groom-bride .man {
    font-size: 18px !important;
    font-weight: bold;
  }

  .groom-bride i {
    font-size: 35px;
    color: crimson;
  }

  /* acara */

  .acara .waktu {
    width: 100%;
  }

  .acara .floral-wrapper img {
    width: 100%;
  }

  /* love story */

  .love-story {
    padding: 50px 10px;
  }

  .timeline {
    padding-left: 40px;
  }

  .timeline-content {
    flex-direction: column;
    text-align: center;
    padding: 10px 10px !important;
  }

  .timeline-item .timeline-content .text {
    margin-top: 80px !important;
  }

  .timeline-content .image {
    width: 100%;
    height: 200px !important;
  }

  .timeline::after {
    height: 100%;
  }

  .love-story .content {
    position: relative;
    padding: 30px 10px;
  }

  .love-story .floral-wrapper img {
    width: 100%;
  }

  /* countdown */
  .simply-countdown-circle {
    gap: 0.9rem; /* kecilkan jarak antar lingkaran */
  }

  .simply-countdown-circle > .simply-section {
    width: 67px;
    height: 67px;
    padding: 0.8rem;
  }

  .simply-countdown-circle .simply-amount {
    font-size: 1rem;
  }

  .simply-countdown-circle .simply-word {
    font-size: 0.55rem;
  }
}

/* batas */

.simply-countdown {
  --sc-circle-primary: #fff;
  --sc-circle-secondary: #fff;
  /* --sc-circle-bg: #ff0087; */
  --sc-circle-text: #fff;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  font-family: "Inter", sans-serif;
}

.simply-countdown > .simply-section {
  position: relative;
  width: 100px;
  height: 100px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  /* background: linear-gradient(45deg, var(--sc-circle-primary), var(--sc-circle-secondary)); */
  /* box-shadow: 0 0 25px -5px var(--sc-circle-primary); */
  animation: pulse-circle 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.simply-countdown > .simply-section::before {
  content: "";
  position: absolute;
  inset: 6px;
  border-radius: 50%;
  background: var(--sc-circle-bg);
  z-index: 0;
}

.simply-countdown > .simply-section > div {
  position: relative;
  z-index: 1;
  color: var(--sc-circle-text);
  text-align: center;
}

.simply-countdown .simply-amount {
  display: block;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1;
  background: linear-gradient(to right, var(--sc-circle-primary), var(--sc-circle-secondary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.simply-countdown .simply-word {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 0.8;
}

@keyframes pulse-circle {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.98);
    opacity: 0.9;
  }
}
