* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.split-layout {
  display: flex;
  height: 100vh;
}

.left-panel {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  text-align: center;
}

.right-panel {
  flex: 1;
  overflow: hidden;
  background-color: aquamarine;
  position: relative;
}

.landing-top {
  position: absolute;
  inset: 0;
  background-color: black;
  color: white;
  text-align: center;
}

.landing-top.hide {
  transform: translateY(-100vh);
}

.landing-top h5 {
  margin-top: 200px;
}
