* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.split-layout {
  display: flex;
  height: 100vh;
}

.left-panel {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  text-align: center;
}

.right-panel {
  flex: 1;
  overflow: hidden;
  background-color: aquamarine;
  position: relative;
}

.landing-top {
  position: absolute;
  inset: 0;
  background-color: black;
  color: white;
  text-align: center;
  transition: 2s;
}

.landing-top.hide {
  transform: translateY(-100vh);
}

.landing-top h5 {
  margin-top: 200px;
}

/* hero */

.hero {
  padding: 70px 0;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: bisque;
  height: 100vh;
}

/* quote */

.quote {
  padding: 70px 0;
}

.quote .header {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  margin-bottom: 20px;
}

.quote .header .line {
  width: 2px;
  background-color: black;
  height: 50px;
}

/* responsive */

@media (max-width: 768px) {
  .left-panel {
    display: none;
  }

  .right-panel {
    flex: 1;
  }
}
