<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kangen</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <!--Awal font -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Berkshire+Swash&family=Cinzel:wght@400..900&family=Loved+by+the+King&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap"
      rel="stylesheet"
    />

    <!-- Akhir font -->
    <!-- awal css -->
    <link rel="stylesheet" href="style.css" />
    <!-- akhir css -->

    <!-- icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
    <!-- icon -->

    <!-- Awal countdown -->

    <script src="../../asset/countdown/simplyCountdown.umd.js"></script>
    <!-- akhir countdown -->

    <!-- awal Glightbox -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
    <!-- ahir GLlightbox -->

    <!-- awal aos -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!-- akhir aos -->
  </head>
  <body>
    <main class="split-layout" id="splitLayout">
      <div class="left-panel" id="leftPanel">
        <div class="container">
          <div class="row">
            <div class="col">
              <h5>The Wedding of</h5>
              <h1>Amri & Nikel</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="right-panel" id="rightPanel">
        <section class="landing-top" id="landingTop">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col">
                <div class="top">
                  <h5>The Wedding of</h5>
                  <h1>Amri & Nikel</h1>
                </div>

                <div class="bottom">
                  <p>Kepada Bapak/ibu/saudara/i</p>
                  <h4 class="undangan"></h4>

                  <p class="maaf">Maaf jika ada kesalahan dalam penulisan nama/gelar</p>
                  <button class="btn btn-sm btn-light" id="btnOpen" style="background: transparent; color: white"><i class="bi bi-book me-1"></i>Buka Undangan</button>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="landing-bottom" id="landingBottom">
          <div id="carouselGroombride" class="carousel slide carousel-bg" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="image/1.png" class="" alt="..." />
              </div>
              <div class="carousel-item">
                <img src="image/2.png" class="" alt="..." />
              </div>
              <div class="carousel-item">
                <img src="image/3.png" class="" alt="..." />
              </div>
            </div>
          </div>
          <section class="hero" id="hero">
            <div class="container">
              <div class="row justify-content-center g-0 p-0">
                <div class="col">
                  <div class="bg-hero"></div>
                  <div class="content">
                    <div class="top">
                      <h1>Amri & <br /><span> Nikel</span></h1>
                      <p>Jum'at 11 Nov 2025</p>
                    </div>

                    <div class="bottom">
                      <p>
                        "Dan di antara tanda-tanda (kebesaran)-Nya ialah Dia menciptakan pasangan-pasangan untukmu dari jenismu sendiri, agar kamu cenderung dan merasa tenteram kepadanya, dan Dia menjadikan di antaramu rasa kasih dan
                        sayang."
                      </p>
                      <div class="foot">
                        <div class="line"></div>
                        <div><p>Q.S Ar-Rum : 21</p></div>
                        <div class="line"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="groom-bride" id="groomBride">
            <div class="container">
              <div class="row justify-content-center text-center">
                <div class="col">
                  <div class="line"></div>
                  <div class="header">
                    <h3>
                      MEET THE <br />
                      COUPLE
                    </h3>
                  </div>
                  <div id="" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="300">
                        <div class="row g-2">
                          <div class="col">
                            <img src="image/2.png" class="img-fluid rounded" />
                          </div>
                          <div class="col">
                            <img src="image/3.png" class="img-fluid rounded" />
                          </div>
                          <div class="col">
                            <img src="image/4.png" class="img-fluid rounded" />
                          </div>
                          <div class="col">
                            <img src="image/5.png" class="img-fluid rounded" />
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item g-2" data-bs-interval="300">
                        <div class="row g-2">
                          <div class="col">
                            <img src="image/2.png" class="img-fluid rounded" />
                          </div>
                          <div class="col">
                            <img src="image/3.png" class="img-fluid rounded" />
                          </div>
                          <div class="col">
                            <img src="image/4.png" class="img-fluid rounded" />
                          </div>
                          <div class="col">
                            <img src="image/5.png" class="img-fluid rounded" />
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item" data-bs-interval="300">
                        <div class="row g-2">
                          <div class="col">
                            <img src="image/2.png" class="img-fluid rounded" />
                          </div>
                          <div class="col">
                            <img src="image/3.png" class="img-fluid rounded" />
                          </div>
                          <div class="col">
                            <img src="image/4.png" class="img-fluid rounded" />
                          </div>
                          <div class="col">
                            <img src="image/5.png" class="img-fluid rounded" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="text">Tanpa mengurangi rasa hormat, kami bermaksud mengundang Bapak/Ibu/Saudara/i pada Upacara Pernikahan Putra dan Putri Kami.</p>

                  <div class="image-wrapper satu">
                    <img src="image/9.png" alt="" class="img-fluid" />
                    <div class="text">Amri</div>
                  </div>
                  <h4 class="groom">Muhammad Hamri, S.Pd</h4>
                  <p>Putra Kelima dari <br />Bapak Lorem dan Ibu Ipsum</p>
                  <a href="" class="btn btn-dark btn-sm">Username</a>

                  <div class="image-wrapper dua">
                    <img src="image/7.png" alt="" class="img-fluid" />
                    <div class="text">Nikel</div>
                  </div>
                  <h4 class="bride">Nikel Januanti, S.Pd</h4>
                  <p>Putri Kelima dari <br />Bapak Lorem dan Ibu Ipsum</p>
                  <a href="" class="btn btn-dark btn-sm">Username</a>
                </div>
              </div>
            </div>
          </section>

          <section class="wedding-event" id="weddingEvent">
            <div class="container">
              <div class="row justify-content-center text-center">
                <div class="col">
                  <div class="line"></div>
                  <div class="header">
                    <h3>Wedding <br />Event</h3>
                  </div>
                  <div class="content">
                    <img src="image/4.png" alt="" class="img-fluid mb-5" />

                    <div class="akad-nikah mb-5">
                      <h3>Akad Nikah</h3>
                      <div class="line"></div>
                      <div class="tanggal"><i class="bi bi-calendar3"></i></div>
                      <p>Jum'at 09 Nov 2026</p>
                      <div class="jam"><i class="bi bi-alarm"></i></div>
                      <p>10:00 - Selesai</p>
                      <p class="alamat">Jl Tabing Pauh Kamang Mudik Agam</p>
                      <a href="" class="btn btn-dark btn-sm">Lihat Lokasi</a>
                    </div>
                    <div class="resepsi">
                      <h3>Resepsi</h3>
                      <div class="line"></div>
                      <div class="tanggal"><i class="bi bi-calendar3"></i></div>
                      <p>Jum'at 09 Nov 2026</p>
                      <div class="jam"><i class="bi bi-alarm"></i></div>
                      <p>10:00 - Selesai</p>
                      <p class="alamat">Jl Tabing Pauh Kamang Mudik Agam</p>
                      <a href="" class="btn btn-dark btn-sm">Lihat Lokasi</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="galery" id="galery">
            <div class="container">
              <div class="row justify-content-center g-0">
                <div class="header">
                  <h2>Our Moments</h2>
                </div>
                <div class="col-6 px-1">
                  <div class="satu">
                    <img src="image/2.png" alt="" class="img-fluid responsive" />
                  </div>
                  <div class="dua">
                    <img src="image/3.png" alt="" class="img-fluid responsive" />
                  </div>
                </div>
                <div class="col-6 px-1">
                  <div class="tiga">
                    <img src="image/4.png" alt="" class="img-fluid responsive" />
                  </div>
                  <div class="empat">
                    <img src="image/5.png" alt="" class="img-fluid responsive" />
                  </div>
                </div>
              </div>
              <div class="row justify-content-center g-0">
                <div class="col-6 px-1">
                  <div class="satu">
                    <img src="image/7.png" alt="" class="img-fluid responsive" />
                  </div>
                  <div class="dua">
                    <img src="image/4.png" alt="" class="img-fluid responsive" />
                  </div>
                </div>
                <div class="col-6 px-1">
                  <div class="tiga">
                    <img src="image/5.png" alt="" class="img-fluid responsive" />
                  </div>
                  <div class="empat">
                    <img src="image/2.png" alt="" class="img-fluid responsive" />
                  </div>
                </div>
              </div>
              <div class="row justify-content-center g-0">
                <div class="col-7 px-1">
                  <div class="satu">
                    <img src="image/1.png" alt="" class="img-fluid" />
                  </div>
                </div>
                <div class="col-5 px-1">
                  <div class="empat">
                    <img src="image/8.png" alt="" class="img-fluid" />
                  </div>
                </div>
              </div>
            </div>
          </section>
        </section>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <!-- j-query cdn -->
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>

    <!-- aos -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 220,
      });
    </script>

    <script src="script.js"></script>
  </body>
</html>
