<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kangen</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <!--Awal font -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Berkshire+Swash&family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap"
      rel="stylesheet"
    />

    <!-- Akhir font -->
    <!-- awal css -->
    <link rel="stylesheet" href="style.css" />
    <!-- akhir css -->

    <!-- icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
    <!-- icon -->

    <!-- Awal countdown -->

    <script src="../../asset/countdown/simplyCountdown.umd.js"></script>
    <!-- akhir countdown -->

    <!-- awal Glightbox -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
    <!-- ahir GLlightbox -->

    <!-- awal aos -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!-- akhir aos -->
  </head>
  <body>
    <main class="split-layout">
      <div class="left-panel" id="leftPanel">
        <div class="container">
          <div class="row">
            <div class="col">
              <h5>The Wedding of</h5>
              <h1>Amri & Nikel</h1>
              <div class="scroll-down">
                <i class="bi bi-file-arrow-down-fill"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right-panel" id="rightPanel">
        <section class="landing-top" id="landingTop">
          <div class="container">
            <div class="row">
              <div class="col">
                <h5>The Wedding of</h5>
                <h1>Amri & Nikel</h1>
                <p>
                  Kepada YTH <br />
                  Bapak/ibu/saudara/i
                </p>
                <p class="maaf">Maaf jika ada kesalahan dalam penulisan nama/gelar</p>
                <button class="btn btn-primary" id="btnOpen">Buka Undangan</button>
              </div>
            </div>
          </div>
        </section>
        <section class="landing-bottom" id="landingBottom">
          <section class="hero" id="hero">
            <div class="container">
              <div class="row">
                <div class="col">
                  <h5>The Wedding of</h5>
                  <h1>Amri & Nikel</h1>
                  <p>11 Nov 2025</p>
                  <div class="simply-countdown-circle"></div>
                  <div class="scroll-indicator-wrapper">
                    <div class="scroll-indicator"></div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="quote" id="quote">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="header">
                    <h1>A</h1>
                    <p>&</p>
                    <h1 class="n">N</h1>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis earum magnam laboriosam nulla accusamus labore a praesentium corporis expedita eligendi? Ut tenetur dicta placeat consequatur illum nemo optio atque,
                    quam aut incidunt eius suscipit quas, earum molestias assumenda delectus nihil.
                  </p>
                </div>
              </div>
            </div>
          </section>
        </section>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <!-- j-query cdn -->
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>

    <!-- aos -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 220,
      });
    </script>

    <script src="script.js"></script>
  </body>
</html>
