* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.split-layout {
  display: flex;
  height: 100vh;
}
/* left panel */
.left-panel {
  flex: 2;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: aqua;
}

/* SCROLL DOWN */

.scroll-down {
  position: absolute;
  bottom: 40px;
  left: 32%;
  transform: translate(-50%, -300px); /* posisi awal di atas */
  font-size: 30px;
  color: white;
  text-align: center;
  opacity: 0;
  transition: all 0.8s ease-out;
  pointer-events: none;
}

/* Saat muncul */
.scroll-down.muncul {
  transform: translate(-50%, 0); /* jatuh ke posisi */
  opacity: 1;
  animation: bounce 1.5s infinite 0.8s;
  /* bounce mulai setelah jatuh */
}

/* BOUNCE */
@keyframes bounce {
  0%,
  100% {
    transform: translate(-50%, 0);
    opacity: 0.7;
  }
  50% {
    transform: translate(-50%, 10px);
    opacity: 1;
  }
}

/* right panel */

.right-panel {
  flex: 1;
  overflow: hidden;
  background-color: antiquewhite;
  position: relative;
}

/* landing top */

.landing-top {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
  transition: 3s ease-in-out;
  z-index: 10;
}

.landing-top.hide {
  transform: translateY(-100vh);
}

/* hero */

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: blue;
}

/* scroll indicator */

.scroll-indicator-wrapper {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.scroll-indicator {
  width: 25px;
  height: 40px;
  border: 2px solid white;
  border-radius: 20px;
  margin: auto;
  position: relative;
}

.scroll-indicator::after {
  content: "";
  width: 4px;
  height: 8px;
  background: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 8px;
  border-radius: 2px;
  animation: scrollAnim 1.5s infinite;
}

@keyframes scrollAnim {
  0% {
    opacity: 0;
    top: 8px;
  }
  50% {
    opacity: 1;
    top: 16px;
  }
  100% {
    opacity: 0;
    top: 24px;
  }
}

/* quote */

.quote {
  padding: 70px 0;
  background-color: burlywood;
  text-align: center !important;
}

.quote .header {
  display: flex;
  gap: 10px;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.quote .header p {
  font-size: 20px;
  margin-top: 40px;
}
.quote .header .n {
  font-size: 20px;
  margin-top: 60px;
  font-size: 40px;
}

@media (max-width: 768px) {
  .left-panel {
    display: none;
  }

  .right-panel {
    flex: 1;
  }
}
