* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.split-layout {
  display: flex;
  height: 100vh;
}
/* left panel */
.left-panel {
  flex: 2;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: aqua;
}

/* SCROLL DOWN */

.scroll-down {
  position: absolute;
  bottom: 40px;
  left: 32%;
  transform: translate(-50%, -300px); /* posisi awal di atas */
  font-size: 30px;
  color: white;
  text-align: center;
  opacity: 0;
  transition: all 0.8s ease-out;
  pointer-events: none;
}

/* Saat muncul */
.scroll-down.muncul {
  transform: translate(-50%, 0); /* jatuh ke posisi */
  opacity: 1;
  animation: bounce 1.5s infinite 0.8s;
  /* bounce mulai setelah jatuh */
}

/* BOUNCE */
@keyframes bounce {
  0%,
  100% {
    transform: translate(-50%, 0);
    opacity: 0.7;
  }
  50% {
    transform: translate(-50%, 10px);
    opacity: 1;
  }
}

/* right panel */

.right-panel {
  flex: 1;
  overflow: hidden;
  background-color: antiquewhite;
  position: relative;
}

/* landing top */

.landing-top {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
  transition: 3s ease-in-out;
  z-index: 10;
}

.landing-top.hide {
  transform: translateY(-100vh);
}

/* hero */

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: blue;
}

/* scroll indicator */

.scroll-indicator-wrapper {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.scroll-indicator {
  width: 25px;
  height: 40px;
  border: 2px solid white;
  border-radius: 20px;
  margin: auto;
  position: relative;
}

.scroll-indicator::after {
  content: "";
  width: 4px;
  height: 8px;
  background: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 8px;
  border-radius: 2px;
  animation: scrollAnim 1.5s infinite;
}

@keyframes scrollAnim {
  0% {
    opacity: 0;
    top: 8px;
  }
  50% {
    opacity: 1;
    top: 16px;
  }
  100% {
    opacity: 0;
    top: 24px;
  }
}

/* quote */

.quote {
  padding: 70px 0;
  background-color: burlywood;
  text-align: center !important;
}

.quote .header {
  display: flex;
  gap: 10px;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.quote .header p {
  font-size: 20px;
  margin-top: 40px;
}
.quote .header .n {
  font-size: 20px;
  margin-top: 60px;
  font-size: 40px;
}

/* countdown */
.simply-countdown-circle {
  --sc-circle-primary: #fff;
  --sc-circle-secondary: #fff;
  --sc-circle-bg: #bcd9a2;
  --sc-circle-text: #fff;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  font-family: "Inter", sans-serif;
}

.simply-countdown-circle > .simply-section {
  position: relative;
  background-color: #bcd9a2;
  width: 90px;
  height: 90px;
  border: 2px solid #bcd9a2;
  padding: 1rem;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border-radius: 50%; */
  /* background: linear-gradient(45deg, var(--sc-circle-primary), var(--sc-circle-secondary)); */
  /* box-shadow: 0 0 25px -5px var(--sc-circle-primary); */
  animation: pulse-circle 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.simply-countdown-circle > .simply-section::before {
  content: "";
  position: absolute;
  /* inset: 7px; */
  left: 7px;
  right: 7px;
  bottom: 7px;
  top: 0;
  border-radius: 15px;
  background: var(--sc-circle-bg);
  z-index: 0;
}

.simply-countdown-circle > .simply-section > div {
  position: relative;
  z-index: 1;
  color: var(--sc-circle-text);
  text-align: center;
}

.simply-countdown-circle .simply-amount {
  display: block;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1;
  background: linear-gradient(to right, var(--sc-circle-primary), var(--sc-circle-secondary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.simply-countdown-circle .simply-word {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 0.8;
}

@keyframes pulse-circle {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.98);
    opacity: 0.9;
  }
}

@media (max-width: 768px) {
  .left-panel {
    display: none;
  }

  .right-panel {
    flex: 1;
  }

  /* countdown */
  .simply-countdown-circle {
    gap: 0.9rem; /* kecilkan jarak antar lingkaran */
  }

  .simply-countdown-circle > .simply-section {
    width: 67px;
    height: 67px;
    padding: 0.8rem;
  }

  .simply-countdown-circle .simply-amount {
    font-size: 1rem;
  }

  .simply-countdown-circle .simply-word {
    font-size: 0.55rem;
  }
}

/* batas */

.simply-countdown {
  --sc-circle-primary: #fff;
  --sc-circle-secondary: #fff;
  /* --sc-circle-bg: #ff0087; */
  --sc-circle-text: #fff;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  font-family: "Inter", sans-serif;
}

.simply-countdown > .simply-section {
  position: relative;
  width: 100px;
  height: 100px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  /* background: linear-gradient(45deg, var(--sc-circle-primary), var(--sc-circle-secondary)); */
  /* box-shadow: 0 0 25px -5px var(--sc-circle-primary); */
  animation: pulse-circle 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.simply-countdown > .simply-section::before {
  content: "";
  position: absolute;
  inset: 6px;
  border-radius: 50%;
  background: var(--sc-circle-bg);
  z-index: 0;
}

.simply-countdown > .simply-section > div {
  position: relative;
  z-index: 1;
  color: var(--sc-circle-text);
  text-align: center;
}

.simply-countdown .simply-amount {
  display: block;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1;
  background: linear-gradient(to right, var(--sc-circle-primary), var(--sc-circle-secondary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.simply-countdown .simply-word {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 0.8;
}

@keyframes pulse-circle {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.98);
    opacity: 0.9;
  }
}
