* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: "Poppins";
  scroll-behavior: smooth;
}

:root {
  --poppins: "Poppins";
  --swash: "Berkshire Swash";
  --love: "Loved by the King";
  --primary: #08cb00;
}

.split-layout {
  display: flex;
  height: 100vh;
}
/* left panel */
.left-panel {
  flex: 2;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: aqua;
  background-image: url("image/1.png");
  background-size: cover;
  background-position: center;
}

.left-panel h1 {
  font-family: var(--love);
  color: white;
  font-size: 50px;
  letter-spacing: 10px;
}

.left-panel h5 {
  margin-top: 400px;
  color: white;
}

/* SCROLL DOWN */

.scroll-down {
  position: absolute;
  bottom: 40px;
  left: 32%;
  transform: translate(-50%, -300px); /* posisi awal di atas */
  font-size: 30px;
  color: white;
  text-align: center;
  opacity: 0;
  transition: all 0.8s ease-out;
  pointer-events: none;
}

/* Saat muncul */
.scroll-down.muncul {
  transform: translate(-50%, 0); /* jatuh ke posisi */
  opacity: 1;
  animation: bounce 1.5s infinite 0.8s;
  /* bounce mulai setelah jatuh */
}

/* BOUNCE */
@keyframes bounce {
  0%,
  100% {
    transform: translate(-50%, 0);
    opacity: 0.7;
  }
  50% {
    transform: translate(-50%, 10px);
    opacity: 1;
  }
}

/* right panel */

.right-panel {
  flex: 1;
  overflow: hidden;
  background-color: black;
  position: relative;
}

/* landing top */

.landing-top {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  transition: 3s ease-in-out;
  z-index: 10;
  background-image: url("image/1.png");
  background-position: center;
  background-size: cover;
}

.landing-top > * {
  position: relative;
  z-index: 2;
}

.landing-top h1 {
  font-family: var(--poppins);
  font-size: 40px;
  font-weight: lighter;
}

.landing-top .maaf {
  font-size: 12px;
}

.landing-top::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: black;
  opacity: 0.5;
}

.landing-top .top {
  margin-top: 50px;
}

.landing-top .bottom {
  margin-top: 350px;
}

.landing-top.hide {
  transform: translateY(-100vh);
}

.landing-top button {
  background-color: transparent;
  color: #fff;
  padding: 8px 15px;
}

/* landing bottom */

.landing-bottom {
  position: relative;
  /* overflow: hidden; */
}

/* carousel sebagai background */
.landing-bottom .carousel-bg {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh !important;
  will-change: transform;
  transform: translateZ(0);
  z-index: 1;
  pointer-events: none;
}

.landing-bottom .carousel-inner,
.landing-bottom .carousel-item {
  height: 100%;
}

.landing-bottom .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* overlay */
.landing-bottom .carousel-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.landing-bottom .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* hero */

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  color: white;
  overflow: hidden;
  z-index: 2;
  margin-top: -100vh;
  background-color: black;
}

.hero .line {
  width: 70%;
  height: 1px;
  position: absolute;
  top: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  margin: auto;
  z-index: 5;
}

.hero .content {
  position: absolute;
  content: "";
  inset: 0;
  z-index: 5;
}

/* overlay gelap */
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.4;
  z-index: 4;
}

.bg-hero {
  position: absolute;
  content: "";
  inset: 0;
  background-image: url("image/1.png");
  background-size: cover;
  background-position: center;
  transition: opacity 2s;
}

.hero .top {
  margin-top: 30px;
  padding-left: 20px;
  text-align: left;
}

.hero .top h1 {
  font-size: 50px;
  font-family: var(--poppins);
  font-weight: lighter;
}

.hero .bottom {
  padding: 0 20px;
  margin-top: 350px;
}

.hero .bottom p {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}
.hero .top p {
  font-size: 13px;
  font-weight: bold;
}
.hero h1 {
  font-family: var(--love);
  font-size: 40px;
}

.hero .foot {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hero .foot p {
  margin: 0;
  font-size: 14px;
}

.hero .foot .line {
  height: 1px;
  width: 80px;
  background-color: white;
}

/* groom bride */

.groom-bride {
  padding: 60px 0;
  background-color: var(--primary);
  position: relative;
  z-index: 2;
  color: #fff;
}

.groom-bride .header h3 {
  font-size: 40px;
  color: #fff;
  font-weight: lighter;
  text-align: left;
}

.groom-bride .line {
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin-bottom: 20px;
  font-weight: 300;
}

/* slide */

.groom-bride .carousel-item img {
  width: 100%;
  height: 130px; /* samakan tinggi */
  object-fit: cover;
  transition: 3s;
}

.groom-bride .slide .carousel-item {
  transition: 10s ease-in-out;
  padding-right: 8px;
}

.groom-bride .text {
  text-align: center;
  width: 90%;
  margin: 30px auto;
  font-weight: 300;
  font-family: var(--poppins);
  font-size: 14px;
}

.groom-bride .image-wrapper {
  display: block;
  width: 250px;
  height: 350px;
  border-radius: 30%;
  overflow: hidden;
  margin: auto;
  position: relative;
}

.groom-bride .image-wrapper .text {
  position: absolute;
  color: black;
  font-size: 40px;
  font-family: "Ballet";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.groom-bride .dua {
  margin-top: 150px;
  border-radius: 30%;
}

.groom-bride h4 {
  margin-top: 10px;
}

.groom-bride .image-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 80px;
  object-fit: cover;
  transition: 2s;
}

/* wedding event */

.wedding-event {
  padding: 60px 0;
  position: relative;
  color: #fff;
  position: relative;
  z-index: 2;
}

.wedding-event .content {
  padding-bottom: 50px;
  width: 90%;
  border: 2px solid white;
  border-radius: 100px;
  overflow: hidden;
  margin: auto;
  color: #fff;
  position: relative;
}

.wedding-event .line {
  width: 90%;
  height: 2px;
  background-color: #fff;
  margin: auto;
  margin-bottom: 20px;
}

.wedding-event .content .line {
  width: 150px;
  height: 1px;
  background-color: white;
  margin: auto;
  margin-top: -13px;
  margin-bottom: 15px;
}

.wedding-event .content > * {
  position: relative;
  z-index: 3;
}

.wedding-event .content::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: #fff;
  opacity: 0.3;
  backdrop-filter: blur(10px);
}

.wedding-event::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: black;
  opacity: 0.01;
}

.wedding-event > * {
  position: relative;
  z-index: 2;
}

.wedding-event .header h3 {
  font-family: var(--poppins);
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: lighter;
}
.wedding-event h3 {
  font-family: var(--poppins);
  font-size: 25px;
  margin-bottom: 20px;
}

.wedding-event .content a {
  background-color: white;
  color: #000;
  border-radius: 20px;
}

/* save date */

.save-date {
  padding: 60px 20px;
  position: relative;
  z-index: 2;
  background-color: var(--primary);
  color: #fff;
}

.save-date .line {
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin: auto;
  margin-bottom: 20px;
}

.save-date .header h3 {
  font-family: var(--poppins);
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 20px;
}

.save-date p {
  text-align: center;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 40px;
}

.save-date a {
  display: block;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  width: 130px;
  margin-top: 40px;
}

/* love story */

.love-story {
  padding: 60px 20px;
  position: relative;
  background-color: black;
  color: #fff;
  z-index: 2;
}

.love-story .line {
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin-bottom: 20px;
}

.love-story img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.love-story .header {
  text-align: center;
}
.love-story .header h3 {
  font-size: 50px;
  text-align: right;
  font-weight: lighter;
}

.love-story .satu,
.love-story .dua,
.love-story .tiga,
.love-story .empat {
  font-size: 13px;
  font-family: var(--poppins);
  font-weight: 300;
}

/* rsvp */

.rsvp {
  padding: 70px 20px;
  position: relative;
  z-index: 2;
  color: #fff;
}

.rsvp .line {
  width: 100%;
  height: 1px;
  margin-bottom: 20px;
  background-color: #fff;
}

.rsvp .header {
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}

.rsvp .header h2 {
  font-family: var(--poppins);
  font-size: 40px;
  text-align: end;
  font-weight: lighter;
}

.rsvp .header h1 {
  font-family: var(--swash);
}

.rsvp p {
  text-align: center;
}

.rsvp button {
  background-color: #fff;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 10px;
}

/* congrat */

.congrat {
  padding: 50px 20px;
  padding-bottom: 80px;
  position: relative;
  z-index: 2;
  color: white;
}

.congrat .line {
  width: 100%;
  height: 1px;
  margin-bottom: 20px;
  background-color: #fff;
}

.congrat .header h2 {
  font-family: var(--poppins);
  font-size: 50px;
  text-align: start;
  font-weight: lighter;
}
.congrat .header p {
  margin-bottom: 50px;
}

.congrat .kotak-pesan {
  height: 40vh;
  margin-top: 40px;
  background: #f0fafa;
  overflow-y: scroll;
  padding: 20px 20px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.congrat .kotak-pesan .text-pesan {
  color: black;
  padding: 0 10px;
  background-color: var(--primary);
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;
  color: #fff;
}
.congrat .kotak-pesan .text-pesan .nama {
  font-weight: bold;
  margin-top: 14px;
}
.congrat .kotak-pesan .text-pesan p {
  margin-top: -15px;
}

.congrat .text-pesan i {
  color: red;
  font-size: 30px;
}

.congrat button {
  background-color: #fff;
  color: #280905;
  font-weight: bold;
  margin-top: 10px;
}
/* gift */
.gift {
  padding: 60px 0;
  background-color: var(--primary);
  position: relative;
  z-index: 2;
  color: #fff;
}
.gift .image-wrapper {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}
.gift .image-wrapper img {
  width: 90%;
  height: 100%;
  object-fit: cover;
}
.gift h3 {
  font-family: var(--poppins);
  font-size: 40px;
  font-weight: lighter;
  text-align: left;
}

.gift .line {
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin-bottom: 20px;
}

.gift .header i {
  font-size: 40px;
}

.gift .card {
  text-align: left;
  margin: auto;
  width: 85%;
  height: 170px;
  padding: 20px;
  line-height: 5px;
  position: relative;
  background-image: url("image/bg-card.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.gift .card .image-wrapper {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 80px;
  height: 30px;
}

.gift a {
  margin-top: 20px;
  background-color: #280905;
  color: #fff;
  padding: 4px 10px;
  border-radius: 6px;
  border: 1px solid white;
}

.gift .card .nama {
  margin-top: 70px;
}

/* galery */
.galery {
  padding: 70px 0;
  position: relative;
  z-index: 2;
  background-color: #000;
}

.galery .header {
  text-align: center;
  margin-bottom: 20px;
}

/* kolom */

/* tinggi selang seling */
.galery .satu,
.galery .empat {
  height: 350px;
}

.galery .dua,
.galery .tiga {
  height: 300px;
}

/* image */
.galery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 6px;
  display: block;
  border-radius: 10px;
}
/* countdown */
.simply-countdown-circle {
  --sc-circle-primary: #fff;
  --sc-circle-secondary: #fff;
  /* --sc-circle-bg: #bcd9a2; */
  --sc-circle-text: #fff;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  font-family: "Inter", sans-serif;
}

.simply-countdown-circle > .simply-section {
  position: relative;
  /* background-color: #bcd9a2; */
  width: 90px;
  height: 90px;
  /* border: 2px solid #bcd9a2; */
  padding: 1rem;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border-radius: 50%; */
  /* background: linear-gradient(45deg, var(--sc-circle-primary), var(--sc-circle-secondary)); */
  /* box-shadow: 0 0 25px -5px var(--sc-circle-primary); */
  animation: pulse-circle 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.simply-countdown-circle > .simply-section::before {
  content: "";
  position: absolute;
  /* inset: 7px; */
  left: 7px;
  right: 7px;
  bottom: 7px;
  top: 0;
  border-radius: 15px;
  background: var(--sc-circle-bg);
  z-index: 0;
}

.simply-countdown-circle > .simply-section > div {
  position: relative;
  z-index: 1;
  color: var(--sc-circle-text);
  text-align: center;
}

.simply-countdown-circle .simply-amount {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  line-height: 0.8;
  background: linear-gradient(to right, var(--sc-circle-primary), var(--sc-circle-secondary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.simply-countdown-circle .simply-word {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 0.8;
}

@keyframes pulse-circle {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.98);
    opacity: 0.9;
  }
}

/* batas */

.simply-countdown {
  --sc-circle-primary: #fff;
  --sc-circle-secondary: #fff;
  /* --sc-circle-bg: #ff0087; */
  --sc-circle-text: #fff;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  font-family: "Inter", sans-serif;
}

.simply-countdown > .simply-section {
  position: relative;
  width: 100px;
  height: 100px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  /* background: linear-gradient(45deg, var(--sc-circle-primary), var(--sc-circle-secondary)); */
  /* box-shadow: 0 0 25px -5px var(--sc-circle-primary); */
  animation: pulse-circle 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.simply-countdown > .simply-section::before {
  content: "";
  position: absolute;
  inset: 6px;
  border-radius: 50%;
  background: var(--sc-circle-bg);
  z-index: 0;
}

.simply-countdown > .simply-section > div {
  position: relative;
  z-index: 1;
  color: var(--sc-circle-text);
  text-align: center;
}

.simply-countdown .simply-amount {
  display: block;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1;
  background: linear-gradient(to right, var(--sc-circle-primary), var(--sc-circle-secondary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.simply-countdown .simply-word {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 0.8;
}

@keyframes pulse-circle {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.98);
    opacity: 0.9;
  }
}

@media (max-width: 768px) {
  .left-panel {
    display: none;
  }

  .right-panel {
    flex: 1;
  }

  /* hero */

  .hero .bottom {
    margin-top: 320px;
  }

  /* galery */
  .galery .satu,
  .galery .empat {
    height: 280px;
  }

  .galery .dua,
  .galery .tiga {
    height: 200px;
  }

  /* countdown */
  .simply-countdown-circle {
    gap: 0.1rem; /* kecilkan jarak antar lingkaran */
  }

  .simply-countdown-circle > .simply-section {
    width: 57px;
    height: 67px;
    padding: 0.2rem;
  }

  .simply-countdown-circle .simply-amount {
    font-size: 2rem;
    line-height: 0.8;
  }

  .simply-countdown-circle .simply-word {
    font-size: 0.55rem;
  }
}
